
    <div class="row">
    <div *ngFor="let item of listItems" class="col-12 col-md-4">
        <div routerLink="/kafaat/event-details"  class="manashet-card d-pointer">
        <div class="manashet-card-container">
             <div class="card-image" [style.background-image]="'url(' + item.imagePath + ')'"             >
             </div>
             <div class="manashet-card-details">
                 <div class="manashet-card-details-title">{{item.nameParticipant}}</div>
                <div class="manashet-card-details-program-details-words" [ngClass]="isMoreReadEnabled?'truncate-4-lines':''">
                    {{item.description}}
                                  </div>
                <a routerLink="#" (click)="isMoreReadEnabled=!isMoreReadEnabled" *ngIf="isMoreReadEnabled" class="manashet-card-details-more-link">عرض المزيد</a>
                <a routerLink="#" (click)="isMoreReadEnabled=!isMoreReadEnabled" *ngIf="!isMoreReadEnabled" class="manashet-card-details-more-link">عرض اقل</a>
             </div>
        </div>
    </div>
    </div>
</div>