
    <div class="row">
    <div *ngFor="let item of listItems" class="col-12 col-md-4">
        <div class="manashet-card-container">
             <div class="card-image">
             </div>
             <div class="manashet-card-details">
                 <div class="manashet-card-details-title">تأملات في السيرة النبوية</div>
                <div class="manashet-card-details-program-details-words truncate-4-lines">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                </div>
                <a routerLink="#" class="manashet-card-details-more-link">عرض المزيد</a>
             </div>
        </div>
    </div>
</div>