<div class="text-end p-2">
    <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="">
</div>
<div class="pop-up-container">
<div class="title-pop-up">إضافة برنامج</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label class="input-label" for="Title">عنوان البرنامج</label>
        <input formControlName="Title" type="text" name="Title" id="Title" [class.is-invalid]="Title?.invalid && Title?.touched" [class.is-valid]="Title?.valid" class="form-control my-1">
        <div *ngIf="Title?.errors && Title?.touched">
            <small *ngIf="Title?.hasError('required')"  class="text-danger">يجب ادخال عنوان البرنامح</small>
        </div>
    </div>

    <div class="mb-3">
        <label class="input-label" for="subTitle">عنوان فرعي </label>
        <input formControlName="subTitle" type="text" name="subTitle" id="subTitle" [class.is-invalid]="subTitle?.invalid && subTitle?.touched" [class.is-valid]="subTitle?.valid" class="form-control my-1">
        <div *ngIf="subTitle?.errors && subTitle?.touched">
            <small *ngIf="subTitle?.hasError('required')"  class="text-danger">يجب ادخال  العنوان الفرعي</small>
        </div>
    </div>

    <div class="mb-3">
        <label class="input-label" for="Description">وصف البرنامج </label>
        <!-- <input formControlName="Description" type="text" name="Description" id="Description" [class.is-invalid]="Description?.invalid && Description?.touched" [class.is-valid]="Description?.valid" class="form-control my-1"> -->
       
        <div id="editor"  class="w-100"  #editor [innerHTML]="data?.description">
           
                    </div>
        <!-- <div *ngIf="Description?.errors && Description?.touched">
            <small *ngIf="Description?.hasError('required')"  class="text-danger">يجب ادخال وصف البرنامح</small>
        </div> -->
    </div>

    <div class="mb-3">
        <label class="input-label" for="ImageFile">صورة البرنامج: (لايجب ان يقل العرض عن {{minWidthProgram}} الطول عن {{minHeightProgram}})</label>
        <input  (change)="onFileSelected($event)" formControlName="ImageFile" type="file" name="ImageFile" id="ImageFile" [class.is-invalid]="ImageFile?.invalid && ImageFile?.touched" [class.is-valid]="ImageFile?.valid" class="form-control my-1">
        <div *ngIf="ImageFile?.errors && ImageFile?.touched">
            <small *ngIf="ImageFile?.hasError('required')"  class="text-danger">يجب ادخال صورة البرنامج البرنامح</small>
        </div>
    </div>

    <div class="mb-3">
        <label class="input-label" for="imageDes">صورة وصف البرنامج: (لايجب ان يقل العرض عن {{minWidthDes}} الطول عن {{minHeightDes}})</label>
        <input  (change)="onFileSelectedImageDes($event)" formControlName="imageDes" type="file" name="imageDes" id="imageDes" [class.is-invalid]="imageDes?.invalid && imageDes?.touched" [class.is-valid]="imageDes?.valid" class="form-control my-1">
        <div *ngIf="imageDes?.errors && imageDes?.touched">
            <small *ngIf="imageDes?.hasError('required')"  class="text-danger">يجب ادخال صورة عرض البرنامح</small>
        </div>
    </div>

    <button type="submit" routerLink="#" class="bg-primary-btn-block my-3 mb-4 p-2">حفــظ</button>
</form>
</div>
