<div class="row">
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="distinguished-item">
            <app-item-carousal-angle imgPath="/assets/images/people.jpg"></app-item-carousal-angle>
            <div class="distinguished-title">ناصر بن حمد بن الماجد</div>
        </div>
    </div>
</div>
<div class="py-4">
    <app-carousal-home></app-carousal-home>
</div>
