<div class="row page-list-header d-flex justify-content-between align-items-center">
    <div class="col-12 col-md-7">
      <div class="mainPageTitle mb-3">المشاركات</div>
      <div>
        <button class="bg-primary-outline-btn p-2 d-inline-block" (click)="addItem()">اضافة مشاركة</button>
        <button class="bg-primary-btn p-2 ms-3 d-inline-block" (click)="back()">رجوع للمنشط</button>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <input type="text" style="outline: none; border: 1px solid var(--main-color);box-shadow: none;" (keyup.enter)="getPageByName()" [(ngModel)]="pagedRequest.name" placeholder="ابحث عن مشاركة" class="form-control">
    </div>
  </div>
  
  <div>
      <table class="table table-responsive table-hover">
          <tr class="tableHeader">
              <td>رقم </td>
                <td> المشارك</td>
                <td>صورة المشاركة</td>
              <td>التحكم</td>
          </tr>
           <tr class="mt-3">
              <td colspan="7"></td>
           </tr>
          <tbody class="tableData" *ngFor="let item of pageResponse.items | paginate: 
              { id: 'foo', itemsPerPage: pagedRequest.pageSize, currentPage: pagedRequest.pageNumber, totalItems: pageResponse.totalCount };let i = index">
              <tr id="first_{{i}}" >
                  <td style="cursor: pointer;">{{item.id}}</td>
                  <td style="cursor: pointer;">{{item.nameParticipant}}</td>
                  <!-- <td style="cursor: pointer;">{{item.description}}</td> -->
                  <td> <img [src]="item.imagePath" [alt]="item.imagePath" width="150px" height="150px"></td>
                  <td>
                    <div>
                      <button appTooltip="تعديل المشاركة" class="btn" (click)="editItem(item.id)">
                        <i class="far fa-edit" style="color: rgb(7, 196, 7);"></i></button>
                      <button appTooltip="حذف المشاركة" class="btn" (click)="deleteItem(item.id)"><i
                          class="far fa-trash-alt" style="color: rgb(245, 29, 29);"></i></button>
                    </div>    
                  </td>
              </tr>
          </tbody>
      </table>
      <div *ngIf="pageResponse.totalCount==0" class="emptyData">لا يوجد بيانات  . . .</div>
  </div>
  <div class="row my-5 mb-1 m-0">
      <div class="d-flex align-items-center justify-content-center">
        <div>
          <pagination-controls (pageChange)="changePageNumber($event)" id="foo" nextLabel="" previousLabel=""></pagination-controls>
        </div>
        <div >
          <select style="margin-bottom: 15px;padding: 5px;display: inline-block;width: 70px;" name="pageSize" id="pageSize" (change)="changePageSize()" [(ngModel)]="pagedRequest.pageSize" class="select-size">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
  </div>
  <div class="text-center">إجمالى عدد الدول : {{ pageResponse.totalCount}}</div>
    