<div class="attachments-container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-2" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="attachments-item">
                <div class="attachments-item-image">
                    <img src="/assets/images/file.svg" width="100%" height="100%">
                </div>
                <div class="attachments-item-details">
                    <div class="truncate-2-lines attachments-item-details-title">
                        كيف تختار كتاباً للقراءة.pdf
                    </div>
                    <button class="bg-primary-btn mt-3"><img src="/assets/images/cloud-arrow-down.svg" class="ms-4 d-inline-block" width="20" height="20"/>تحميل الملف </button>
                </div>
            </div>
        </div>
    </div>
</div>