<div class="card">
    <app-scroll-nav></app-scroll-nav>
    <div class="card-body">
        <div class="row text-center">
            <div class="col-12 col-md-3">
                <app-item-carousal-angle></app-item-carousal-angle>
                <p>ناصر بن حمد بن الماجد</p>
                <p class="primary-padge">برنامج كاتب</p>
                <p class="text-main">الكتابة الفعالة</p>
            </div>
            <div class="col-12 col-md-3">
                <app-item-carousal-angle></app-item-carousal-angle>
                <p>ناصر بن حمد بن الماجد</p>
                <p class="primary-padge">برنامج كاتب</p>
                <p class="text-main">الكتابة الفعالة</p>
            </div>
            <div class="col-12 col-md-3">
                <app-item-carousal-angle></app-item-carousal-angle>
                <p>ناصر بن حمد بن الماجد</p>
                <p class="primary-padge">برنامج كاتب</p>
                <p class="text-main">الكتابة الفعالة</p>
            </div>
            <div class="col-12 col-md-3">
                <app-item-carousal-angle></app-item-carousal-angle>
                <p>ناصر بن حمد بن الماجد</p>
                <p class="primary-padge">برنامج كاتب</p>
                <p class="text-main">الكتابة الفعالة</p>
            </div>
        </div>
        
        <app-paginations></app-paginations>
    </div>
</div>
<div class="w-50 mx-auto py-4">
    <app-date-picker></app-date-picker>
</div>