<div class="registeration-container">
    <div class="pb-4">
        <img src="/assets/images/logo.svg" width="100%" height="80px" alt="">
    </div>
    <div class="registeration">
        <div class="row">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-8">
                <div class="payment-cuccess-container">
                    <img src="/assets/images/payment-success.svg" alt="">
                    <div class="payment-success-title pb-2">تم طلب الإنضمام بنجاح</div>
                    <div class="payment-success-details">شكرًا لتقديم طلب الانضمام إلى موقعنا. سيتم إرسال رسالة تأكيد إليك في حال الموافقة على الطلب. نرحب بك في منصة كفاءات</div>
                    <div class="payment-buttons pt-5">
                        <a routerLink="/kafaat" class="bg-primary-btn me-3">العودة للصفحة الرئيسية</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2"></div>
        </div>
    </div>
</div>
