<div class="general-container">
    <div class="mb-4 fw-bolder fs-5 pb-4"> نوثق اهم اللحظات </div>
    <div class="row">
        <div class="image-container" style="height: 600px;">
            <div class="image-bg-1" style="background-image: url('{{imageNumber1}}');"></div>
            <div class="icon-camera d-pointer">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div (click)="eventImage1.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                            <i class="fas fa-camera camera-icon" ></i>
                        </div>
                        <div class="ps-3">
                            <input type="file" name="image1"  accept="image/*" (change)="onChangeImage($event,1)" #eventImage1 style="display:none">
                        </div>
                    </div>
                    <div *ngIf="imageInfo[0].isSaveButtonShown==true" class="col-12 col-md-2 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                        <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                            أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 pe-3" style="margin: 0px;padding: 0px;">
            <div class="image-container">
                <div class="image-bg-2" style="background-image: url('{{imageNumber2}}');"></div>
                <div class="icon-camera d-pointer">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div (click)="eventImage2.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                <i class="fas fa-camera camera-icon" ></i>
                            </div>
                            <div class="ps-3">
                                <input type="file" name="image2"  accept="image/*" (change)="onChangeImage($event,2)" #eventImage2 style="display:none">
                            </div>
                        </div>
                        <div *ngIf="imageInfo[1].isSaveButtonShown==true" class="col-12 col-md-2 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                            <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 ps-3" style="margin: 0px;padding: 0px;">
            <div class="image-container">
                <div class="image-bg-3" style="background-image: url('{{imageNumber3}}');"></div>
                <div class="icon-camera d-pointer">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div (click)="eventImage3.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                <i class="fas fa-camera camera-icon" ></i>
                            </div>
                            <div class="ps-3">
                                <input type="file" name="image3"  accept="image/*" (change)="onChangeImage($event,3)" #eventImage3 style="display:none">
                            </div>
                        </div>
                        <div *ngIf="imageInfo[2].isSaveButtonShown==true" class="col-12 col-md-2 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                            <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 pe-5">
            <div class="row">
                <div class="image-container">
                    <div class="image-bg-4" style="background-image: url('{{imageNumber4}}');"></div>
                    <div class="icon-camera d-pointer">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div (click)="eventImage4.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    <i class="fas fa-camera camera-icon" ></i>
                                </div>
                                <div class="ps-3">
                                    <input type="file" name="image4"  accept="image/*" (change)="onChangeImage($event,4)" #eventImage4 style="display:none">
                                </div>
                            </div>
                            <div *ngIf="imageInfo[3].isSaveButtonShown==true" class="col-12 col-md-2 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image-container">
                    <div class="image-bg-5" style="background-image: url('{{imageNumber5}}');"></div>
                    <div class="icon-camera d-pointer">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div (click)="eventImage5.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    <i class="fas fa-camera camera-icon" ></i>
                                </div>
                                <div class="ps-3">
                                    <input type="file" name="image5"  accept="image/*" (change)="onChangeImage($event,5)" #eventImage5 style="display:none">
                                </div>
                            </div>
                            <div *ngIf="imageInfo[4].isSaveButtonShown==true" class="col-12 col-md-2 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="image-container" style="height: 720px;">
                    <div class="image-bg-6" style="background-image: url('{{imageNumber6}}');"></div>
                    <div class="icon-camera d-pointer" >
                        <div class="row">
                            <div class="col-12 ">
                                <div (click)="eventImage6.click()" class="d-pointer"  class="d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    <i class="fas fa-camera camera-icon" ></i>
                                </div>
                                <div class="ps-3">
                                    <input type="file" name="image6"  accept="image/*" (change)="onChangeImage($event,6)" #eventImage6 style="display:none">
                                </div>
                            </div>
                            <div *ngIf="imageInfo[5].isSaveButtonShown==true" class="col-12 d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                <button (click)="saveImage()" class="bg-primary-opacity-btn">حــفظ</button>
                            </div>
                            <div class="col-12 ">
                                <div class="image-size-description d-flex align-items-center justify-content-center" style="min-height: 70px;">
                                    أبعاد الصورة [ عرض : 447 , ارتفاع : 1225 ]
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
