<div class="text-end p-2">
    <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="">
</div>
<div class="pop-up-container">
<div class="title-pop-up text-danger pb-2 fw-bold"> <i class="fas fa-exclamation-triangle text-danger fs-3"></i>  {{data.title}} </div>
<div class="title-pop-up text-danger" style="border-bottom: none;font-size: 16px; font-weight: 400; margin: 30px 0px;">{{data.confirmationMessage}}</div>
    <button type="submit" (click)="submit()" class="bg-primary-btn-block bg-danger my-3 mb-4 p-2"> تــأكيـــد </button>
</div>
