<div class="container text-center p-0 m-0 p-sm-4 m-sm-4">
    <div class="row pb-4 mb-4">
        <div class="col-12 col-md-3 text-center my-2 my-sm-0">
            <app-item-carousal-angle imgPath="assets/images/img-contact.png"></app-item-carousal-angle>
            <p>ناصر بن حمد بن الماجد</p>
            <div class="primary-padge">برنامج كاتب</div>
        </div>
        <div class="col-12 col-md-3 text-center my-2 my-sm-0">
            <app-item-carousal-angle imgPath="assets/images/img-contact.png"></app-item-carousal-angle>
            <p>ناصر بن حمد بن الماجد</p>
            <div class="primary-padge">برنامج قارئ</div>
        </div>
        <div class="col-12 col-md-3 text-center my-2 my-sm-0">
            <app-item-carousal-angle imgPath="assets/images/img-contact.png"></app-item-carousal-angle>
            <p>ناصر بن حمد بن الماجد</p>
            <div class="primary-padge">برنامج متفوق</div>
        </div>
        <div class="col-12 col-md-3 text-center my-2 my-sm-0">
            <app-item-carousal-angle imgPath="assets/images/img-contact.png"></app-item-carousal-angle>
            <p>ناصر بن حمد بن الماجد</p>
            <div class="primary-padge">برنامج ماهر</div>
        </div>
        
    </div>
    <div class="bg-primary-btn my-4">عرض كل المتميزون</div>
</div>