.divider-line{
    width: 1px;
    height: 46px;
    background-color: #A18131;
}
.custom-border-right {
    border-top-left-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    transform: scaleY(1.3);
    
}

.custom-border-left {
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    transform: scaleY(1.3);
    
}


@media (0px <= width <=750px){
    .custom-border-right {
        border-top-left-radius: 0% 0%;
        border-bottom-right-radius: 50% 50% !important;
        border-bottom-left-radius: 50% 50% !important;
        transform: scaleY(1);
        transform: scaleX(1.3);
        height: 600px;
    }
    
    .custom-border-left {
        border-top-right-radius: 0% 0%;
        border-bottom-left-radius: 50% 50% !important;
        border-bottom-right-radius: 50% 50% !important;
        transform: scaleY(1);
        transform: scaleX(1.3);
        height: 600px;
    }
}