<div class="divider-section">

</div>
<div class="page-padding">
    <div class="card  container mx-auto p-0 my-4 border-0  shadow-X-Large">
        <div class="card-body row p-0 m-0" [dir]="direction">
            <div class="col-12 col-md-6 p-0 m-0" style="overflow: hidden">
               
                <img [src]="image2" height="650px" [class]="direction=='rtl'?'custom-border-right':'custom-border-left'" width="100%" height="100%" alt="">
            
        </div>
            <div class="col-12 col-md-6 p-4 " dir="rtl">
               <div class="p-4 m-4">
                <img [src]="image" alt="" width="150px" height="135px">
                <h3 class="fs-3 fw-bold my-3">{{title}}</h3>
                <p class="truncate-3-lines" [innerHTML]="description"></p>
                <div class="row mt-2">
                    <div class="col-6 col-md-4 border-right d-flex">
                        <div><img src="assets/images/light.svg" alt=""></div>
                        <div class="ps-2">
                            <p class="small lh-sm " style="font-size: 11px;">عدد المناشط</p>
                            <p class="text-main fs-6 fw-bold lh-sm">{{numActivites}}</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-5 border-right d-flex">
                        <div><img src="assets/images/light.svg" alt=""></div>
                        <div class="ps-2">
                            <p class="small lh-sm" style="font-size: 11px;">عدد المشاركات</p>
                            <p class="text-main fs-6 fw-bold lh-sm">{{numpaticipants}}</p>
                        </div>
                    </div>
                </div>
               <div class="mt-4 pt-4">
                <div class="bg-primary-btn mt-4" >
                    عرض المناشط
                </div>
               </div>
               </div>
            </div>
            
        </div>
    </div>
</div>