<app-navbar typeNav="dark"></app-navbar>
<app-page-header-labeled Header="المتميزون" Label="متميزو الشهر في جميع البرامج"></app-page-header-labeled>
    <app-bread-crumb></app-bread-crumb>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="statistic-container-right">
            <div class="statistic-item">
                <img src="/assets/images/light-bulb.svg" width="48" height="48">
                <span class="statistic-number">934</span>
                <span class="statistic-label">عدد المناشط</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="statistic-container">
            <div class="statistic-item">
                <img src="/assets/images/document-duplicate.svg" width="48" height="48">
                <span class="statistic-number">1634</span>
                <span class="statistic-label">عدد المشاركات</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="statistic-container-left">
            <div class="statistic-item">
                <img src="/assets/images/user-group.svg" width="48" height="48">
                <span class="statistic-number">8726</span>
                <span class="statistic-label">عدد المشاركين</span>
            </div>
        </div>
    </div>
</div>
<div class="program-descriprion-container">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="program-descriprion-image-name-container">
                <img src="/assets/images/book.svg" width="149" height="135">
                 <span class="program-descriprion-name">برنامج قارئ</span>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="program-descriprion-words">
                <div class="text-container">
                    <p class="text-content">
                        وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهوصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحـــاول تعزيزه ونشره،وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشرهوصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشرهوصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحـــاول تعزيزه ونشــــــره
                        عزيزه ونشره،وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشرهوصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشرهوصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحـــاول تعزيزه ونشــــــره
                    </p>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="page-padding mt-5">
    <a (click)="toggleLinks()" [ngClass]="isManashetActive?'bg-primary-btn':'bg-primary-opacity-btn'"> المناشط</a>
    <a (click)="toggleLinks()" [ngClass]="!isManashetActive?'bg-primary-btn':'bg-primary-opacity-btn'" class="mx-3">المشاركات </a>
</div>
<div *ngIf="isManashetActive"  class="manashet-list-container mb-5">
    <div class="manashet-list-content">
        <a *ngFor="let nav of navList" (click)="selectItem(nav.id)" ngClass="{{nav.isSelected?'active-navigation-button':'inactive-navigation-button'}}">{{nav.label}}</a> 
    </div>
    <div class="manashet-items">
        <div *ngIf="navList[0].isSelected"> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
        </div>
        <div *ngIf="navList[1].isSelected"> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
        </div>
        <div *ngIf="navList[2].isSelected"> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
        </div>
        <div *ngIf="navList[3].isSelected"> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
            <app-manashet-item></app-manashet-item> 
        </div>
    </div>
</div>
<div *ngIf="!isManashetActive" class="manashet-list-container mb-5">
    <app-musharakat-item></app-musharakat-item>
    <app-musharakat-item></app-musharakat-item>
    <app-musharakat-item></app-musharakat-item>
    <app-musharakat-item></app-musharakat-item>
</div>

