<app-navbar typeNav="dark"></app-navbar>
<div class="row">
    <div class="col-12 col-md-4"></div>
    <div class="col-12 col-md-4">
        <div class="payment-cuccess-container">
            <img src="/assets/images/payment-success.svg" alt="">
            <div class="payment-success-title pb-2">تم الدفع بنجاح</div>
            <div class="payment-success-details">تمت عملية الدفع بنجاح، يمكنك الآن حضور المنشط </div>
            <div class="payment-buttons py-5">
                <button class="bg-primary-btn me-3">عرض المنشط</button>
                <button class="bg-primary-opacity-btn">الرئيسية</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4"></div>
</div>