<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="registeration-container">
        <div class="pb-4">
            <img src="/assets/images/logo.svg" width="100%" height="80px" alt="">
        </div>
        <div class="registeration">
            <div class="nextPage">
                <div class="details-title">نسيت كلمة المرور</div>
                <div class="Text-hint mb-4">قم بكتابة عنوان البريد الإلكتروني المسجل لدى كفاءات لإستقبال رمز التحقق </div>
                            <!-- email -->
                            <div class="input-surrounding">
                                <div class="input-element w-100">
                                    <input type="text" name="email" id="email" formControlName="email" class="input-element-icon email-icon"
                                        required="">
                                    <label for="email">البريد الإلكتروني</label>
                                </div>
                                <div *ngIf="email?.errors && email?.touched">
                                    <small *ngIf="email?.hasError('required')" class="error-text"> حقل البريد الإلكتروني مطلوب</small>
                                </div>
                            </div>                       
                            <button type="submit" routerLink="/forgotten-password" class="bg-primary-btn-block my-3 mb-4">متابعة</button>
            </div>
        </div>
        <div class="back-arrow pt-3">
            <a class="text-white text-decoration-none d-pointer">
                <img (click)="back()"  src="/assets/images/arrow-forward.svg" alt="">
                <div class="d-inline-block back-btn">رجوع</div> 
            </a>
        </div>
    </div>
    </form>