
<div *ngIf="slides.length>0" class="container pb-4" dir="ltr">
    <ngx-slick-carousel #slickCarousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

        <div  [class]="slides[i%3].title?'manashet-card-container slide mx-2':'manashet-card-container slide mx-2 item-hover-top'"   ngxSlickItem *ngFor="let slide of slides;let i = index"
        (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
            <img [src]="slides[i%3].imagePath" width="100%" height="230">
             <div class="manashet-card-details">
                <div class="manashet-card-details-title-container">
                    <div class="manashet-card-details-title" *ngIf="slides[i%3].name">{{slides[i%3].name}}</div>
                    <div class="manashet-card-details-badge">
                        <span class="primary-padge">جاري</span>
                    </div>
                </div>
               <div [class]="slides[i%3].programs?'':'item-hover-top-details'" [id]="'d'+i" dir="rtl">
                <div class="manashet-card-details-program-name">{{slides[i%3].subTitle}}</div>
                <div class="manashet-card-details-program-details-words" [innerHTML]="slides[i%3].description"></div>
                <a [routerLink]="['/kafaat/activity-details',slides[i%3].id]" class="manashet-card-details-more-link">عرض المزيد</a>
               </div>
             </div>
        </div>
    </ngx-slick-carousel>
    <div class="text-center mt-4">
        <img src="assets/images/back-carousal.svg" alt="back-carousal" (click)="scrollBack()" class="mx-4 d-pointer">
        <img src="assets/images/next-carousal.svg" (click)="scrollNext()" alt="next-carousal" class="mx-4 d-pointer">
    </div>
    </div>
<app-empty-data *ngIf="slides.length==0" [inputText]="'لا يوجد مناشط لعرضها'"></app-empty-data>