<div class="tabs container card border-0">
    <div class="card-header bg-light border-0  row ps-0 py-0">
        <div  [ngClass]="indexSelected==0?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(0)">
            تقرير المنشط
        </div>
        <div [ngClass]="indexSelected==1?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(1)">
            المرفقات
        </div>
        <div [ngClass]="indexSelected==2?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(2)">
            معرض الصور
        </div>
        <div [ngClass]="indexSelected==3?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(3)">
            معرض الفيديو
        </div>
        <div [ngClass]="indexSelected==4?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(4)">
            المشاركات
        </div>
        <div [ngClass]="indexSelected==5?'tab-selected col-6 col-md-2 p-4 m-0':'col-6 col-md-2 p-4 m-0'" (click)="onTap(5)">
            المتميزون
        </div>
    </div>
    <div class="card-body">
        <p>{{indexSelected}}</p>
    </div>
</div>