.navbar-container{
    background: linear-gradient(to right ,#A18131, #005183);
    position: relative;
    min-height: calc(100vh);
    width: 100%;
}
.card-about{
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    right: 0;
}
.about-kafaat{
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../../../../assets/images/bg-about.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.item-card{
    background-color: #005183;
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
}

.item-card:hover{
    background-color: white;
}
.image-catalog{
    border-radius: 10px;
}
.title-documented{
    font-weight: 600px;
    line-height: 63px;
    font-size: 40px;
    text-align: center;
    color: var(--main-color);
  }
  .about-we{
    font-size: 65px;
    font-weight: 600;
    line-height: 63px;
    text-align: right;
    color: white;
  }
@media (max-width: 575.98px) {
    .card-about{
        position: relative;
        top: 0 !important;
        transform: translateY(0) !important;
        right: 0;
        width: 100% !important;
        padding-top: 10px;
    }
  }
