
<div class="navbar-container">
    <div class="navbar-element-container">
        <app-navbar typeNav="light" (handleOpenNav)="openOrClosNav($event)"></app-navbar>
    </div>
    <div class="row page-padding">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center p-4">
            <div class="p-4">
                <h1 class="text-light fw-bold m-4" style="font-size: 50px;">من نحن </h1>
                <p class="text-light m-4 fs-5 lh-base">كفاءات هي منصة تعليمية تهتم بافراد عائلة الماجد لايصال كل ماهو جديد</p>
                <button class="btn bg-light p-2 px-4 m-4"> <img src="assets/images/play-circle.svg"
                        alt="play-circle.svg">شاهد الفيديو التعريفي</button>
            </div>
        </div>
        <div class="col-12 col-md-6 text-light">
            <div class="p-4">
                <app-image-third img1="assets/images/h1.png" img3="assets/images/h2.png" img2="assets/images/h3.png"></app-image-third>
            </div>
        </div>
    </div>
</div>
<div class="divider-section">

</div>
<div class="page-padding position-relative mt-4">
    <div class="row  mx-auto shadow-X-Large p-0 m-0" dir="ltr">
        <div class="col-12 col-md-6 p-0 m-0">
            <img src="assets/images/about1.png" width="100%" height="100%" class="rounded" alt="about1">
        </div>
        <div class="col-12 col-md-6 pt-3">
            <p class="small text-dark text-start">ماهي كفاءات</p>
            <h2 class="text-main text-start w-75 float-start fs-1 lh-1 fw-bold">تنمية المعارف والمهارات لأبناء الماجد</h2>
        </div>
    </div>
    <div class="card w-75 card-about border-0 shadow pt-3 p-4 ">
        <p class="px-3 lh-base small">من أجل تمام العبودية لله تعالى وطاعته.. ولإيجاد مفاتيحَ لخبرةٍ تختزل المدى، وتحدد الاتجاهات؛
            فالعمر لا يُعاد مرة أخرى لتعديل المسارات.. ولأن "أحب الناس إلى الله أنفعهم للناس" كما وجه المصطفى صلى الله
            </p>
            <p class="px-3 lh-base small">عليه وسلم.. ومشاركةً في مسيرة تنمية الأسرة وبناء الوطن..
                لأجل ذلك كله نشأت "كفاءات".. لتحقيق تلك الغايات.. بأهداف ساميات.. منها: "القراءة" النـــاقدة، و"الحديث"
                </p>
                <p class="px-3 lh-base small">
                    البليغ، و"الكتابة" المؤثـــــرة، و"الثقافة" المعطاء، و"القيادة" الملهمة، و"التدريب" المتقـن، و"المـوهبة"
                المتجددة، و"التحصيل" المتين، و"الابتكار" النافع.
                وها هي تقدم مجلتها في إشراقتها الثانية، ومن خلالها: تزجي باكورة البرامج.. وتستقبل طلائع المنتجين.. وتستشرف
                بناة المستقبل.. وتقدم حماة الوطن.. وتزف عرائس النور وعرسانه في أبهى حلة..
                </p>
    </div>
</div>

<div  class="row main-padge rounded-0 about-kafaat">
    <div class="col-12 col-md-5 d-flex align-items-top mt-4 pt-4 justify-content-center">
        <div><p class="small text-light text-start">أهداف كفاءات</p>
            <h3 class="text-light text-start w-75 fs-1 lh-base fw-bold">السعي نحو المعرفة هو هدفنا الأول</h3></div>
    </div>
    <div class="col-12 col-md-7">
        <div class="row p-4 mt-4">
            <div class="col-12 col-md-5 p-4 card item-card" (mouseenter)="itemCardEnter(1)" (mouseleave)="itemCardLeave(1)">
              <div class="text-center p-4">
                <img src="assets/images/cup.svg" alt="">
                <p id="p1" class="mt-4 fw-bold  fs-5 lh-base">رفع مستوى التميز 
                    في كل مجال</p>
              </div>
            </div>
            <div class="col-12 col-md-1 mt-4 pt-4 pt-sm-0 mt-sm-0">

            </div>
            <div class="col-12 col-md-5 p-4  card  item-card" (mouseenter)="itemCardEnter(2)" (mouseleave)="itemCardLeave(2)">
                <div class="text-center p-4">
                  <img src="assets/images/item-card2.svg" alt="">
                  <p id="p2" class="mt-4 fw-bold  fs-5 lh-base">رعاية الموهوبين
                    والمبدعين</p>
                </div>
              </div>
        </div>
        <div class="row p-4 mb-4">
            <div class="col-12 col-md-5 p-4 card  item-card" (mouseenter)="itemCardEnter(3)" (mouseleave)="itemCardLeave(3)">
              <div class="text-center p-4">
                <img src="assets/images/item-card3.svg" alt="">
                <p id="p3" class="mt-4 fw-bold  fs-5 lh-base">   
                    إكتشاف وتنمية المهارات</p>
              </div>
            </div>
            <div class="col-12 col-md-1 mt-4 pt-4 pt-sm-0 mt-sm-0 ">

            </div>
            <div class="col-12 col-md-5 p-4 card  item-card" (mouseenter)="itemCardEnter(4)" (mouseleave)="itemCardLeave(4)">
                <div class="text-center p-4">
                  <img src="assets/images/cup.svg" alt="">
                  <p id="p4" class="mt-4 fw-bold  fs-5 lh-base" > 
                    تنمية الجوانب الثقافية</p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="divider-section"></div>
<app-goals-kafaat></app-goals-kafaat>
<div class="divider-section"></div>


<div class="page-padding pt-4 mt-4" style="background-color: #F7FBFE;">
    <div class="text-center w-25 mx-auto">
        <p class="small text-dark">معرض الصور والفيديوهات</p>
    <h3 class="text-main fs-1 fw-bold my-3">نوثق اهم اللحظات</h3>
    
</div>
<div class="mt-4">
    <img src="assets/images/about2.png" alt="about2" style="width: 100%;" height="100%;">
</div>
<div class="row ">
    <div class="col-12 col-md-6 mt-4">
        <img src="assets/images/about3.png" alt="about-kafaat" style="width: 100%;" height="100%;">
    </div>
    
    <div class="col-12 col-md-6 mt-4">
        <img src="assets/images/about4.png" alt="about-kafaat" style="width: 100%;" height="100%;">
    </div>
</div>
<div class="row ">
    <div class="col-12 col-md-6 mt-4">
        <div>
            <img src="assets/images/about5.png" alt="about-kafaat" style="width: 100%;" height="100%;">
        </div>
        <div class="mt-4">
            <img src="assets/images/about6.png" alt="about-kafaat" style="width: 100%;" height="100%;">
        </div>
    </div>
    <div class="col-12 col-md-6  mt-4">
     
        <img src="assets/images/about7.png" alt="about-kafaat" style="width: 100%;" height="72%;">
       
    </div>
</div>
</div>