<button class="bg-primary-btn float-end m-2" mat-raised-button (click)="openDialog()">اضافة صنف</button>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> المسلسل</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> الاسم </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> الوصف </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator  
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  