
  .contact .name-user{
    background-image: url('../../../../assets/images/user.svg') !important;
  }
  .contact .details{
  
    background-image: url('../../../../assets/images/pencil.svg')  !important;
  }

  .contact .email-user{
    background-image: url('../../../../assets/images/at-symbol.svg') !important;
  }



  



 
  
  
  

  
  
