.card-header div{
    text-align: center !important;  
    font-size: 10px; 
}

@media (min-width: 992px) {
    .card-header div{
      
      width: auto !important;
  
    }
  }

  .musharakat-list-content {
    overflow-x: scroll;
    /* display: inline-flex;  */
    white-space: nowrap; 
    /* padding-top: 50px; */
    margin-bottom: 30px;
  }
  .shared-user-info-list-options-item-update{
    width: 150x !important;
  }