<app-navigation-to-back-header Title="كيف تختار كتابا للقراءة"></app-navigation-to-back-header>
<app-bread-crumb></app-bread-crumb>
<div class="manshat-card-container-and-image-section mb-5">
<div class="page-padding manshat-card-container">
    <div class="row">
        <div class="col-12 col-md-7 d-none d-md-block">
            <div class="manshat-card-container-descrition-container">
                <div class="manshat-card-container-descrition-title">وصف المنشط</div>
                <span class="under-line"></span>
                <div class="manshat-card-container-descrition-wording truncate-13-lines">
                    وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="manshat-card-container-image-section-container">
                <div class="card-image">
                    <div class="card-displayed-image">
                        <img src="/assets/images/people.jpg">
                    </div>
                    <div class="card-image-outline"></div>
                </div>
                <div class="manshat-info-container">
                    <div class="manshat-info-item">
                        <img src="assets/images/person-blue.svg" width="24" height="24">
                        <span>الملقي: عبدالرحمن بن محمد الماجد</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/location-blue.svg" width="24" height="24">
                        <span>المكان: عبر تطبيق Zoom</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/calender-blue.svg" width="24" height="24">
                        <span>التاريخ: ١٢/٠٣/٢٠٢٣</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/users-blue.svg" width="24" height="24">
                        <span>قائمة الحضور: <a routerLink="#">ملف قائمة الحضور</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="nav-links-container">
    <button *ngFor="let link of navigationItemsList" [ngClass]="{'bg-primary-btn':link.isSelected,'bg-primary-opacity-btn':!link.isSelected}" (click)="chageNavigationLink(link.id)" class="m-3"> {{link.label}} </button> 
</div>
<div class="pages-section-container mb-5">
    <div class="page-padding">
        <div class="nav-links-page">
            <div *ngIf="navigationItemsList[0].isSelected"><app-manashet-details-report-page></app-manashet-details-report-page></div>
            <div *ngIf="navigationItemsList[1].isSelected"><app-manashet-details-attachment-page></app-manashet-details-attachment-page></div>
            <div *ngIf="navigationItemsList[2].isSelected"><app-manashet-details-image-gallery-page></app-manashet-details-image-gallery-page></div>
            <div *ngIf="navigationItemsList[3].isSelected"><app-manashet-details-video-gallery-page></app-manashet-details-video-gallery-page></div>
            <div *ngIf="navigationItemsList[4].isSelected"><app-manashet-details-shared-page></app-manashet-details-shared-page></div>
            <div *ngIf="navigationItemsList[5].isSelected"><app-manashet-details-distinguished-page></app-manashet-details-distinguished-page></div>
        </div>
    </div>
</div>
