<div class="navbar-container">
    <div class="navbar-element-container">
        <div class="navbar-element"></div>
    </div>
    <div class="navbar-image">
    </div>
</div>
<div style="height: 500px;"></div>
<a routerLink="" class="bg-primary-btn">عرض كل المتميزون </a>
<a routerLink="" class="bg-primary-btn-block">عرض كل المتميزون </a>
<a routerLink="" class="bg-primary-opacity-btn">عرض كل المتميزون </a>
<span class="primary-padge">برنامج متفوق</span>
<span class="success-padge">برنامج متفوق</span>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="octagon-image-container">
            <div class="octagon-image-back"></div>
            <div class="octagon-image"></div>
            <div class="octagon-image-title-and-padge">
                <div class="octagon-image-title">ناصر بن حمد بن الماجد</div>
                <span class="primary-padge">برنامج متفوق</span> 
            </div>
    </div>
    <div class="col-4"></div>
</div>
</div>
