<nav [class]="typeNav=='dark'?'navbar navbar-light navbar-expand-lg bg-transparent border-bottom border-main':'navbar navbar-dark navbar-expand-lg bg-transparent border-bottom border-light'">
    <div class="container">
        <a class="navbar-brand mb-1" href="#"><img [src]="typeNav=='dark'?'assets/images/logo-blue.svg':'assets/images/logo.svg'" alt="logo.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse mx-4">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-around align-items-center">
                <li class="nav-item">
                    <a routerLinkActive="active" [class]="typeNav=='dark'?'nav-link text-dark':'nav-link text-light'" aria-current="page" href="#"><span [class]="active==0?'active':''">الرئيسية</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a routerLink="/kafaat/programs"  [class]="typeNav=='dark'?'d-inline text-dark text-decoration-none':'d-inline text-light text-decoration-none'"><span [class]="active==1?'active':''">البرامج</span></a>
                    <a [class]="typeNav=='dark'?'nav-link dropdown-toggle text-dark d-inline':'nav-link dropdown-toggle text-light d-inline'" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span [class]="active==1?'active':''"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-2" routerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قارئ</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج كاتب</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متحدث</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مبتكر</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج موهوب</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قائد </a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متفوق </a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  routerLink="/kafaat/about" routerLinkActive="active"  [class]="typeNav=='dark'?'nav-link text-dark':'nav-link text-light'" aria-current="page" >من نحن</a>
                </li>
                <li class="nav-item">
                    <a  [class]="typeNav=='dark'?'nav-link  text-dark':'nav-link text-light'" routerLinkActive="active"  aria-current="page" routerLink ="/kafaat/contact-us">تواصل معنا</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="bg-primary-btn text-light py-3" aria-current="page" routerLinkActive="active" >تسجيل دخول</a>
                </li>
                <li class="nav-item">
                    <a [class]="typeNav=='dark'?'nav-link text-main':'nav-link text-light'" routerLink="/registeration" outerLinkActive="active"  aria-current="page" href="#">طلب انضمام</a>
                </li>
                <li class="nav-item">
                    <!-- <hr class="d-none d-sm-block bg-light mx-3 my-0 h-100" style="width: 2px;"> -->
                    <div [class]="typeNav=='dark'?'divider-line bg-dark mx-3 my-0':'divider-line bg-light mx-3 my-0'" >&nbsp;</div>
                </li>
                <li class="d-flex align-items-center">
                    <a href="#" class="mx-2"><img [src]="typeNav=='light'?'assets/images/facebook.svg':'assets/images/facebook-dark.svg'" alt="facebook.svg"></a>
                    <a href="#" class="mx-2"><img [src]="typeNav=='light'?'assets/images/twitter.svg':'assets/images/twitter-dark.svg'" alt="twitter.svg"></a>
                    <a href="#" class="mx-2"><img [src]="typeNav=='light'?'assets/images/linkedin.svg':'assets/images/linkedin-dark.svg'" alt="linkedin.svg"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav id="navbar"  class="navbar navbar-light navbar-expand-lg bg-transparent border-bottom border-main  w-100 top-0 position-fixed bg-light">
    <div class="container ">
        <a class="navbar-brand mb-1" href="#"><img src="assets/images/logo-blue.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse mx-4">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-around align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="#"><span [class]="active==0?'active':''">الرئيسية</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a routerLink="/kafaat/programs" class="d-inline text-dark text-decoration-none d-pointer"><span [class]="active==1?'active':''">البرامج</span></a>
                    <a class="nav-link d-inline dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-2" routerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قارئ</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج كاتب</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متحدث</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مبتكر</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج موهوب</a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قائد </a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متفوق </a></li>
                        <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف</a></li>
   
                    </ul>
                </li>
                <li class="nav-item">
                    <a   routerLink="/kafaat/about" routerLinkActive="active" class="nav-link text-dark" aria-current="page" href="#"><span [class]="active==2?'active':''">من نحن</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link text-dark" aria-current="page" routerLinkActive="active"  aria-current="page" routerLink ="/kafaat/contact-us"><span [class]="active==3?'active':''">تواصل معنا</span></a>
                </li>
                <li class="nav-item">
                    <a class="bg-primary-btn text-light py-3" aria-current="page" href="#" routerLink="/login" outerLinkActive="active"><span>تسجيل دخول</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-main" aria-current="page" routerLink="/registeration" outerLinkActive="active" ><span>طلب انضمام</span></a>
                </li>
                <li class="nav-item">
                    <!-- <hr class="d-none d-sm-block bg-light mx-3 my-0 h-100" style="width: 2px;"> -->
                    <div class="divider-line bg-dark mx-3 my-0">&nbsp;</div>
                </li>
                <li class="d-flex align-items-center">
                    <a href="#" class="mx-2"><img src="assets/images/facebook-dark.svg" alt="facebook.svg"></a>
                    <a href="#" class="mx-2"><img src="assets/images/twitter-dark.svg" alt="twitter.svg"></a>
                    <a href="#" class="mx-2"><img src="assets/images/linkedin-dark.svg" alt="linkedin.svg"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div id="mySidenav" class="sidenav">
    <div class="text-end">
        <a href="javascript:void(0)" class="fs-1 fw-bold p-2 text-decoration-none text-dark" (click)="closeNav()">&times;</a>
    </div>
    <hr>
    <div class="ps-2">

        <nav class="navbar navbar-expand-lg navbar-light w-100 ">
            <div class="container">
              <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link text-dark" aria-current="page" href="#"><span [class]="active==0?'active':''">الرئيسية</span></a>
                  </li>
                <li class="nav-item dropdown w-100">
                  <a class="nav-link dropdown-toggle w-100 text-main" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    <span [class]="active==1?'active':''"> البرامج</span>
                  </a>
                  <ul class="dropdown-menu w-100 border-0" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item py-2" routerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قارئ</a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج كاتب</a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متحدث</a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مبتكر</a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج موهوب</a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج قائد </a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج متفوق </a></li>
                    <li><a class="dropdown-item py-2" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف </a></li>
                    
                    <li><a class="dropdown-item" outerLinkActive="active"   routerLink="/kafaat/program-details">برنامج مثقف</a></li>

                  </ul>
                </li>
                 
          <li class="nav-item">
            <a   routerLink="/kafaat/about" routerLinkActive="active" class="nav-link text-dark" aria-current="page" href="#"><span>من نحن</span></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink ="/kafaat/contact-us" routerLinkActive="active" >تواصل معنا</a>
          </li>
              </ul>
            </div>
          </nav>
    </div>
    <hr>
    <div class="px-2 text-center">
        <a class="bg-primary-btn w-100" routerLink="/login" outerLinkActive="active">تسجيل دخول</a>
        <a routerLink="/registeration" outerLinkActive="active"  class="text-decoration-none " href="#"><h5 class="text-main fw-bold mt-2 fs-3">طلب انضمام</h5></a>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-around w-50 mx-auto">
        <a href="#" class="mx-2"><img src='assets/images/facebook-dark.svg' alt="facebook.svg"></a>
        <a href="#" class="mx-2"><img src='assets/images/twitter-dark.svg' alt="twitter.svg"></a>
        <a href="#" class="mx-2"><img src='assets/images/linkedin-dark.svg' alt="linkedin.svg"></a>
    </div>
</div>