.page-header-container-label{
    padding-top: 10px;
    font-size: 16px;
    color: var(--neutral70-color);
    font-weight: 400;
}
.page-header-container-image-container{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 30px;
}
.page-header-container-image-container img
{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}.page-header-container-title{
    display: inline-block;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 600;
    color: var(----neutral90-color); 
}

.bg-header{
    background-image: url("../../../../assets/images/background-header-page.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.bg-header2{
    background-image: url("../../../../assets/images/bg-header2.svg");
    background-repeat: no-repeat;
    background-position: right;
}


/* @media (500px <= width <=2000px){
    .page-header-container{
        margin: 40px 107px;
    }
}
@media (0px <= width <=500px){
    .page-header-container{
        margin: 40px 16px;
    }
} */