<div class="container" dir="ltr">
    <ngx-slick-carousel #slickCarousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides;let i = index" class="slide">
        <div class="carousal-home-item d-flex align-items-center justify-content-center m-4">
            <img src="{{slide.img}}" alt="Programs" (click)="onItemClick(slide, i)">
        </div>
        <p class="fs-6 fw-bold text-center" (click)="onItemClick(slide, i)">{{slide.title}}</p>
        <p class="text-center small" (click)="onItemClick(slide, i)"> {{slide.subTitle}}</p>
        </div>
    </ngx-slick-carousel>
    <div class="text-center">
        <img src="assets/images/back-carousal.svg" alt="back-carousal" (click)="scrollBack()" class="mx-4 d-pointer">
        <img src="assets/images/next-carousal.svg" (click)="scrollNext()" alt="next-carousal" class="mx-4 d-pointer">
    </div>
    </div>