.details-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--neutral90-color);
    margin-bottom: 20px;
}
.lock-icon{
    background-image: url('/assets/images/lock.svg');
    /* background-position: 99%; */
}


.input-element {
    position: relative;
    outline: none;
    box-shadow: none;   
    border: none;
    /* border: 1px solid var(--neutral90-color); */
  }
  
  .input-element input,.input-element textarea {
    width: 100%;
    padding: 25px 35px 5px 5px;
    border-radius: 8px;  
  }
  .input-element label {
    position: absolute;
    top:0;
    right: 8px;
    padding:10px 25px;
    color: var(--neutral90-color);
    pointer-events: none;
    transition: .5s;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .input-element input:focus ~ label,
  .input-element input:valid ~ label ,.input-element textarea:focus ~ label,
  .input-element textarea:valid ~ label{
    top: -10px;
    left: 0;
    color: var(--neutral90-color);
    font-size: 10px;
    outline: none;
    box-shadow: none;
  }
  
  .input-element-icon {
      background-position: 99%;
      background-repeat: no-repeat;
      padding-right: 40px;
      outline: none;
      box-shadow: none;     
      border: 1px solid var(--neutral40-color);
  }
  .input-surrounding{
    margin-top: 15px;
  }