<form [formGroup]="form" (ngSubmit)="submit()" >
    <div class="details-title">كلمة المرور</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="currentPassword" id="currentPassword" formControlName="currentPassword"  class="input-element-icon lock-icon" required="">
        <label for="currentPassword">كلمة المرور الحالية</label>
    </div>
    <div *ngIf="currentPassword?.errors && currentPassword?.touched">
        <small  *ngIf="currentPassword?.hasError('required')" class="error-text"> حقل  كلمة المرور الحالية مطلوب</small>
    </div>
</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="newPassword" id="newPassword" formControlName="newPassword"  class="input-element-icon lock-icon" required="">
        <label for="newPassword">كلمة المرور الجديدة</label>
    </div>
    <div *ngIf="newPassword?.errors && newPassword?.touched">
        <small  *ngIf="newPassword?.hasError('required')" class="error-text"> حقل  كلمة المرور الجديدة مطلوب</small>
        <small  *ngIf="newPassword?.hasError('pattern')" class="error-text">كلمة المرور يجب ان تحتوى على حروف كبيرة و صغيره و ارقام و رموز و طولها لا يقل عن 8 احرف</small>
    </div>
</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"  class="input-element-icon lock-icon" required="">
        <label for="confirmPassword">تأكيد كلمة المرور الجديدة</label>
    </div>
    <div *ngIf="confirmPassword?.errors && confirmPassword?.touched">
        <small  *ngIf="confirmPassword?.hasError('required')" class="error-text"> حقل  تأكيد كلمة المرور الجديدة مطلوب</small>
        <small  *ngIf="!isPasswordFieldsIdentical && confirmPassword.value.length>0" class="error-text">كلمتى المرور غير متطابقتين </small>
    </div>
</div>

<div class="button-container mt-3">
    <button class="bg-primary-btn me-4" [disabled]="!(form.valid && isPasswordFieldsIdentical)">حفظ</button>
    <button class="bg-primary-outline-btn" >إلغاء</button>
</div>
</form>