<form [formGroup]="form" (ngSubmit)="submit()" >
    <div class="details-title">كلمة المرور</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="oldPassword" id="oldPassword" (blur)="checkPasswordValidity()" formControlName="oldPassword"  class="input-element-icon lock-icon" required="">
        <label for="oldPassword">كلمة المرور الحالية</label>
    </div>
    <small  *ngIf="!oldPassword?.hasError('required') && passwordValidityResult.length>0 && !isPasswodValid" class="error-text">{{passwordValidityResult}}</small>
    <small  *ngIf="!oldPassword?.hasError('required') && passwordValidityResult.length>0 && isPasswodValid" class="success-text">{{passwordValidityResult}}</small>
    <div *ngIf="oldPassword?.errors && oldPassword?.touched">
        <small  *ngIf="oldPassword?.hasError('required')" class="error-text"> حقل  كلمة المرور الحالية مطلوب</small>
    </div>
</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="newPassword" id="newPassword" formControlName="newPassword"  class="input-element-icon lock-icon" required="">
        <label for="newPassword">كلمة المرور الجديدة</label>
    </div>
    <div *ngIf="newPassword?.errors && newPassword?.touched">
        <small  *ngIf="newPassword?.hasError('required')" class="error-text"> حقل  كلمة المرور الجديدة مطلوب</small>
        <small  *ngIf="newPassword?.hasError('minlength')" class="error-text">كلمة المرور يجب ان طولها لا يقل عن 4 احرف</small>
    </div>
</div>
<div class="input-surrounding">
    <div class="input-element w-100">
        <input type="text" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"  class="input-element-icon lock-icon" required="">
        <label for="confirmPassword">تأكيد كلمة المرور الجديدة</label>
    </div>
    <div *ngIf="confirmPassword?.errors && confirmPassword?.touched">
        <small  *ngIf="confirmPassword?.hasError('required')" class="error-text"> حقل  تأكيد كلمة المرور الجديدة مطلوب</small>
        <small  *ngIf="!isPasswordFieldsIdentical && confirmPassword.value.length>0" class="error-text">كلمتى المرور غير متطابقتين </small>
    </div>
</div>

<div class="button-container mt-3">
    <button class="bg-primary-btn me-4" type="submit">حفظ</button>
    <a (click)="changePage()" class="bg-primary-outline-btn" >إلغاء</a>
</div>
</form>