.details-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--neutral90-color);
    margin-bottom: 20px;
}
.lock-icon{
    background-image: url('/assets/images/lock.svg');
    /* background-position: 99%; */
}