<div class="row">
    <div class="col-8 p-4 d-flex align-items-center">
        <div class="p-4 m-4">
            <p>من أجل تمام العبودية لله تعالى وطاعته.. ولإيجاد مفاتيحَ لخبرةٍ تختزل المدى، وتحدد الاتجاهات؛ فالعمر لا يُعاد مرة أخرى لتعديل المسارات.. ولأن "أحب الناس إلى الله أنفعهم للناس" كما وجه المصطفى صلى الله عليه وسلم</p>
            <p> لأجل ذلك كله نشأت "كفاءات".. لتحقيق تلك الغايات.. بأهداف ساميات.. منها: "القراءة" النـــاقدة، و"الحديث" البليغ، و"الكتابة" المؤثـــــرة، و"الثقافة" المعطاء، و"القيادة" الملهمة، و"التدريب" المتقـن، و"المـوهبة" المتجددة، </p>  
            <div class="bg-primary-btn mt-4">اعرف اكثر عن كفاءات</div>
        </div>
      </div>
    <div class="col-4">
        <img src="assets/images/what-kafaat.png" alt="what-kafaat.png" width="100%" height="100%">
    </div>
  
</div>