<div class="row" dir="ltr">
    <div class="col-12 col-md-5">
        <img src="assets/images/what-kafaat.png" alt="what-kafaat.png" width="100%" height="100%">
    </div>
    <div class="col-12 col-md-7  d-flex align-items-center" dir="rtl">
        <div class="px-4 pt-4">
            <p class="lh-lg">من أجل تمام العبودية لله تعالى وطاعته.. ولإيجاد مفاتيحَ لخبرةٍ تختزل المدى، وتحدد الاتجاهات؛ فالعمر لا يُعاد مرة أخرى لتعديل المسارات.. ولأن "أحب الناس إلى الله أنفعهم للناس" كما وجه المصطفى صلى الله عليه وسلم</p>
            <p class="lh-lg mb-4"> لأجل ذلك كله نشأت "كفاءات".. لتحقيق تلك الغايات.. بأهداف ساميات.. منها: "القراءة" النـــاقدة، و"الحديث" البليغ، و"الكتابة" المؤثـــــرة، و"الثقافة" المعطاء، و"القيادة" الملهمة، و"التدريب" المتقـن، و"المـوهبة" المتجددة، </p>  
            <a class="bg-primary-btn my-4" routerLink="/kafaat/about">اعرف اكثر عن كفاءات</a>
        </div>
      </div>
  
  
</div>