<div class="footer-container">
    <div class="page-padding">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="kafaat-logo"></div>
                    </div>
                </div>
                <div class="phone"><img src='/assets/images/whats-app-logo.png' class="social-icon"><span> {{contactInformationItems.whatsapp}} </span></div>
                <div class="social-icon-container">
                    <a routerLink="{{contactInformationItems.snapchatLink}}"><img src='/assets/images/Snapchat-white.svg' class="social-icon"></a>
                    <a routerLink="{{contactInformationItems.telegramLink}}"><img src='/assets/images/telegram.svg' class="social-icon"></a>
                    <a routerLink="{{contactInformationItems.twitterLink}}"><img src='/assets/images/Twitter-light.svg' class="social-icon"></a>
                    <a routerLink="{{contactInformationItems.instagramLink}}"><img src='/assets/images/Instagram-light.svg' class="social-icon"></a>
                    <a routerLink="{{contactInformationItems.youtubeLink}}"><img src='/assets/images/Youtube-light.svg' class="social-icon"></a>
                    <a routerLink="{{contactInformationItems.facebookLink}}"><img src='/assets/images/Facebook-light.svg' class="social-icon"></a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-block d-md-none" style="height: 100px;"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="links-title">البرامج</div>
                        <a [routerLink]="['/kafaat/program-details/',programs[0].id]" class="link-item">{{programs[0].title}}</a>
                        <a [routerLink]="['/kafaat/program-details/',programs[1].id]" class="link-item">{{programs[1].title}}</a>
                        <a [routerLink]="['/kafaat/program-details/',programs[2].id]" class="link-item">{{programs[2].title}}</a>
                        <a [routerLink]="['/kafaat/program-details/',programs[3].id]" class="link-item">{{programs[3].title}}</a>
                        <a [routerLink]="['/kafaat/program-details/',programs[4].id]" class="link-item">{{programs[4].title}}</a>
                        <a [routerLink]="['/kafaat/program-details/',programs[5].id]" class="link-item">{{programs[5].title}}</a>
                        <!-- <a routerLink="#" class="link-item">برنامج قائد</a>
                        <a routerLink="#" class="link-item">برنامج كاتب</a>
                        <a routerLink="#" class="link-item">برنامج ماهر</a>
                        <a routerLink="#" class="link-item">برنامج مثقف</a> -->
                    </div>
                    <div class="col-6">
                        <div class="links-title">روابط سريعة</div>
                        <a routerLink="/kafaat/about" class="link-item">عن كفاءات</a>
                        <a routerLink="/kafaat/winners" class="link-item">متميزون الشهر</a>
                        <a routerLink="/kafaat/famous-posts" class="link-item">مشاركات</a>
                        <a routerLink="/kafaat/post-people" class="link-item">معرض الصور والفيديوهات</a>
                        <a routerLink="#" class="link-item">البث المباشر</a>
                    </div>
                </div>
            </div>
        </div>
        <span class="line-separator"></span>
        <div class="rights">
            جميع الحقوق محفوظة {{year}} @كفاءات
        </div>
    </div>
</div>
