<div class="login d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-12 col-md-6 mx-auto text-center mt-4">
            <img src="assets/images/Layer_1.svg" alt=""/>
            <div class="card w-100 mt-4 p-4 text-start">
                <h5 class="fs-4">رمز التحقق</h5>
                <p class="small">قم بكتابة رمز التحقق المكون من ٤ أرقام المرسل إلى عنوان البريد الإلكتروني example@domain.com</p>
                <form action="">
                    <div class="code d-flex align-items-center justify-content-center">
                        <input type="text" class="border" maxlength="1">
                        <input type="text" class="border" maxlength="1">
                        <input type="text" class="border" maxlength="1">
                        <input type="text" class="border" maxlength="1">
                    </div>
                    <p class="text-center small mt-4">إعادة إرسال في خلال ٠٠:٦٠</p>
                    <div class="bg-primary-btn w-100 mt-4 text-center">
                        متابعة
                    </div>
                
                </form>
            </div>
            <p class="text-start text-light fw-bold p-2">
                <img src="assets/images/back.svg" alt=""> رجوع</p>
        </div>
    </div>
    
</div>