
    <div class="registeration-container">
        <div class="pb-4">
            <img src="/assets/images/logo.svg" width="100%" height="80px" alt="">
        </div>
        <div class="registeration">
            <div class="nextPage">
                <div class="details-title">رمز التحقق</div>
                <div class="Text-hint mb-4">قم بكتابة رمز التحقق المكون من ٤ أرقام المرسل إلى عنوان البريد الإلكتروني {{email}}</div>
                            <div class="code d-flex align-items-center justify-content-center" dir="ltr">
                                <input type="text" class="code-input-item" name="n1" mask="0" [(ngModel)]="verificationCode.n1" [ngClass]="verificationCode.n1 == ''?'input-non-value-border':(errorCode?'input-error-border':'input-value-border')"  >
                                <input type="text" class="code-input-item" name="n2" mask="0" [(ngModel)]="verificationCode.n2" [ngClass]="verificationCode.n2 == ''?'input-non-value-border':(errorCode?'input-error-border':'input-value-border')"  >
                                <input type="text" class="code-input-item" name="n3" mask="0" [(ngModel)]="verificationCode.n3" [ngClass]="verificationCode.n3 == ''?'input-non-value-border':(errorCode?'input-error-border':'input-value-border')"  >
                                <input type="text" class="code-input-item" name="n4" mask="0" [(ngModel)]="verificationCode.n4" [ngClass]="verificationCode.n4 == ''?'input-non-value-border':(errorCode?'input-error-border':'input-value-border')"  >
                            </div>
                            <a *ngIf="!errorCode && !isIn60SecondDularion" routerLink="#" class="text-center d-block text-decoration-none small mt-4">إعادة إرسال في خلال ٠٠:٦٠</a>
                            <a *ngIf="!errorCode && !isIn60SecondDularion" routerLink="#" class="text-center text-primary d-block text-decoration-none small mt-4">إعادة إرسال</a>
                            <a *ngIf="!errorCode && !isIn60SecondDularion" routerLink="#" class="text-center d-block text-danger text-decoration-none small mt-4">رمز التحقق غير صحيح، برجاء إعادة ادخاله مرة اخرى</a>
                      
                            <button routerLink="/change-password" class="bg-primary-btn-block my-3 mb-4">تحقق</button>
            </div>
        </div>
        <div class="back-arrow pt-3">
            <a class="text-white text-decoration-none d-pointer">
                <img (click)="back()"  src="/assets/images/arrow-forward.svg" alt="">
                <div class="d-inline-block back-btn">رجوع</div> 
            </a>
        </div>
    </div>
