<app-navbar typeNav="dark" [active]=1></app-navbar>
<app-page-header-labeled Header="البرامج" Label="جميع البرامج التي قامت عليها أسرة الماجد"></app-page-header-labeled>
    <app-bread-crumb></app-bread-crumb>
    <app-program-min direction="ltr" image="assets/images/p1.png" image2="assets/images/program-title.svg" title="برنامج قارئ"></app-program-min>
    <app-program-min direction="rtl" image="assets/images/p3.png" image2="assets/images/p-t-1.png" title="برنامج متحدث"></app-program-min>
    <app-program-min direction="ltr" image="assets/images/p4.png" image2="assets/images/p-t-2.png" title="برنامج كاتب"></app-program-min>
    <app-program-min direction="rtl" image="assets/images/p5.png" image2="assets/images/p-t-3.png" title="برنامج مثقف"></app-program-min>
    <app-program-min direction="ltr" image="assets/images/p6.png" image2="assets/images/p-t-4.png" title="برنامج قائد"></app-program-min>
    <app-program-min direction="rtl" image="assets/images/p7.png" image2="assets/images/p-t-5.png" title="برنامج ماهر"></app-program-min>
    <app-program-min direction="ltr" image="assets/images/p8.png" image2="assets/images/p-t-6.png" title="برنامج متفوق"></app-program-min>
    
