<app-navbar typeNav="dark"></app-navbar>
<app-navigation-to-back-header Title="كيف تختار كتابا للقراءة"></app-navigation-to-back-header>
<app-bread-crumb></app-bread-crumb>

<div class="row mt-4 mb-2">
    <div class="col-1"></div>
    <div class="col-10">
        <div *ngIf="isAlertShown" class="alert alert-info alert-dismissible fade show" role="alert">
            <div class="alert-items-container py-2 px-4 ">
                <img src="assets/images/alert-warning-grey.svg" class="image-start" width="24" height="24">
                <div>
                    <div class="alert-items-title">هذا المنشط جاري الآن</div>
                    <div class="alert-items-details">يمكنك الإطلاع على تقرير المنشط، المرفقات، الصور والفيديوهات، المشاركات ومتميزوا المنشط بعد انتهاءه وادراج جميع التفاصيل</div>
                </div>
                <img (click)="hideAlert()" src="assets/images/close-grey.svg" class="image-end" width="24" height="24">
            </div>
          </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="manshat-card-container-and-image-section mb-5">
<div class="page-padding manshat-card-container">
    <div class="row">
        <div class="col-12 col-md-7 mb-3 order-md-1 order-2">
            <div class="manshat-card-container-descrition-container">
                <div class="manshat-card-container-descrition-title">وصف المنشط</div>
                <span class="under-line"></span>
                <div class="manshat-card-container-descrition-wording truncate-13-lines">
                    وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
وصف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره،وصــــــــــف مبسط ومختصر لبرنامج قارئ وما يهـــــــدف اليه وما يحاول تعزيزه ونشرهو صف مبسط ومختصر لبرنامج قارئ وما يهدف اليه وما يـــــــــحاول تعزيزه ونشره, وصف مبســـــــــــــــــط ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر 
ومختصر لبرنامج قارئ وما يهدف اليه وما يحاول تعزيزه ونشره، وصف مبســـــط ومختصر
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mb-3 order-md-2 order-1">
            <div class="manshat-card-container-image-section-container">
                <div class="card-image">
                    <div class="card-displayed-image">
                        <img src="/assets/images/people.jpg">
                    </div>
                    <div class="card-image-outline"></div>
                </div>
                <div class="manshat-info-container">
                    <div class="manshat-info-item">
                        <img src="assets/images/person-blue.svg" width="24" height="24">
                        <span>الملقي: عبدالرحمن بن محمد الماجد</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/location-blue.svg" width="24" height="24">
                        <span>المكان: عبر تطبيق Zoom</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/calender-blue.svg" width="24" height="24">
                        <span>التاريخ: ١٢/٠٣/٢٠٢٣</span>
                    </div>
                    <div class="manshat-info-item">
                        <img src="assets/images/users-blue.svg" width="24" height="24">
                        <span>قائمة الحضور: <a routerLink="#">ملف قائمة الحضور</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
