<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="registeration-container">
        <div class="pb-4">
            <img src="/assets/images/logo.svg" width="100%" height="80px" alt="">
        </div>
        <div class="registeration">
            <div class="nextPage">
                <div class="details-title">تغيير كلمة المرور</div>
                <div class="Text-hint mb-4">قم بإدخال كلمة المرور الجديدة</div>
                <!-- password -->
                <div class="input-surrounding">
                    <div class="input-element w-100">
                        <div class="password-container">
                            <input type="{{isPasswordVisible?'text':'password'}}" name="newPassword" id="newPassword"
                                formControlName="newPassword" class="input-element-icon  lock-icon" required="">
                            <label for="newPassword">كلمة المرور</label>
                            <img *ngIf="isPasswordVisible" (click)="isPasswordVisible=!isPasswordVisible"
                                src="/assets/images/show.svg" width="25" height="25" class="passwordImage" alt="">
                            <img *ngIf="!isPasswordVisible" (click)="isPasswordVisible=!isPasswordVisible"
                                src="/assets/images/eye.svg" width="25" height="25" class="passwordImage" alt="">
                        </div>
                    </div>
                    <div *ngIf="newPassword?.errors && newPassword?.touched">
                        <small *ngIf="newPassword?.hasError('required')" class="error-text"> حقل كلمة المرور مطلوب</small>
                        <small  *ngIf="newPassword?.hasError('pattern')" class="error-text">كلمة المرور يجب ان تحتوى على حروف كبيرة و صغيره و ارقام و رموز و طولها لا يقل عن 6 احرف</small>

                    </div>
                </div>
                <!-- confirmPassword -->
                <div class="input-surrounding">
                    <div class="input-element w-100">
                        <div class="password-container">
                            <input type="{{isPasswordVisible2?'text':'password'}}" name="confirmPassword" id="confirmPassword"
                                formControlName="confirmPassword" class="input-element-icon  lock-icon" required="">
                            <label for="confirmPassword">تأكيد كلمة المرور</label>
                            <img *ngIf="isPasswordVisible2" (click)="isPasswordVisible2=!isPasswordVisible2"
                                src="/assets/images/show.svg" width="25" height="25" class="passwordImage" alt="">
                            <img *ngIf="!isPasswordVisible2" (click)="isPasswordVisible2=!isPasswordVisible2"
                                src="/assets/images/eye.svg" width="25" height="25" class="passwordImage" alt="">
                        </div>
                    </div>
                    <div *ngIf="confirmPassword?.errors && confirmPassword?.touched">
                        <small *ngIf="confirmPassword?.hasError('required')" class="error-text"> حقل تأكيد كلمة المرور مطلوب</small>
                        <small  *ngIf="!isPasswordFieldsIdentical && confirmPassword.value.length>0" class="error-text">كلمتى المرور غير متطابقتين </small>

                    </div>
                </div>
                
                <button type="submit" routerLink="#" class="bg-primary-btn-block my-3 mb-4">حفظ</button>
            </div>
        </div>
        <div class="back-arrow pt-3">
            <a class="text-white text-decoration-none d-pointer">
                <img (click)="back()" src="/assets/images/arrow-forward.svg" alt="">
                <div class="d-inline-block back-btn">رجوع</div>
            </a>
        </div>
    </div>
</form>