<div class="text-end p-2">
    <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="">
</div>
<div class="pop-up-container">
<div class="title-pop-up">إضافة مؤهل</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label class="input-label" for="name">اسم المؤهل</label>
        <input formControlName="name" type="text" name="name" id="name" [class.is-invalid]="name?.invalid && name?.touched" [class.is-valid]="name?.valid" class="form-control my-1">
        <div *ngIf="name?.errors && name?.touched">
            <small *ngIf="name?.hasError('required')"  class="text-danger">يجب ادخال اسم المؤهل</small>
        </div>
    </div>
    <button type="submit" routerLink="#" class="bg-primary-btn-block my-3 mb-4 p-2">حفــظ</button>
</form>
</div>
