<div class=" container d-flex align-items-center" >
    <div class="d-none d-sm-block">
        <img src="assets/images/next-carousal.svg" alt="next-carousal" class="d-pointer" (click)="scrollNext()">
    </div>
    <div class="col-12 col-md-10 container" dir="ltr">
    <ngx-slick-carousel  #slickCarousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div class="text-center p-4" ngxSlickItem *ngFor="let slide of slides;let i = index">
        <div class="d-flex justify-content-center"><img src="assets/images/moon.png" alt="moon.png"></div>
        <p>لجين بنت سامي المطوّع</p>
        <p class="text-main">برنامج كاتب/ الكتابة الفعالة</p>
        <div class="mt-4">
            <h5 class="fs-5">مهلاً كفاءات</h5>
            <p class="small fs-6  mx-0 px-0 px-sm-4 mx-sm-4">كل طفل من أطفالنا بحاجة إلى ولي حريص يكتشف مواهبه وينمي قدراته ، وكل فتى وفتاة من فتياننا وفتياتنا بحاجة للتوجيه والنصح والدعم ، وكل شابةٍ وشابٍ بيننا بحاجة لتطوير المهارات وتبني الأفكار ، وكل شيخٍ بيننا بحاجة للترابط الأسري والتواصل الاجتماعي .. وجميعهم يسعى للبحث عن هذه الحوائج سواءً من الأهل أو جماعة...<span class="text-main d-pointer fw-bold">المزيد</span> </p>
        </div>
        
    </div>
</ngx-slick-carousel>
</div>
    <div class="d-none d-sm-block">
        <img src="assets/images/back-carousal.svg" alt="back-carousal" class="d-pointer" (click)="scrollBack()">
    </div>
</div>
<div class="text-center d-block d-sm-none">
    <img src="assets/images/next-carousal.svg" (click)="scrollNext()" alt="next-carousal" class="mx-4 d-pointer">

    <img src="assets/images/back-carousal.svg" alt="back-carousal" (click)="scrollBack()" class="mx-4 d-pointer">
    </div>
<div class="text-center pb-4">
    <div class="bg-primary-btn mt-4">تصفح كل المشاركات</div>
</div>
