.login{
    background: linear-gradient(to right ,#A18131, #005183);
    position: fixed;
    height: 100%;
    width: 100%;
}
.password-input{
    background-image: url('../../../../assets/images/show.svg');
    background-position: left;
    background-repeat: no-repeat;
}