<div class="login d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-12 col-md-6 mx-auto text-center mt-4">
            <img src="assets/images/Layer_1.svg" alt=""/>
            <div class="card w-100 mt-4 p-4 text-start">
                <h5 class="fs-4">تسجيل الدخول</h5>
                <form action="">
                    <div class="form-group input-container w-100 mt-4 ">
                        <input type="text" name="name" class="form-control input-container-icon email-icon" required="">
                        <label for="name"> البريد الإلكتروني</label>
                    </div>
                    
                    <div class="form-group input-container w-100 mt-4 password-input">
                        <input type="text" name="name" class="form-control input-container-icon email-icon" required="">
                        <label for="name"> البريد الإلكتروني</label>
                    </div>
                    <p class="text-end pt-2"><a href="#" class="text-main text-decoration-none">نسيت كلمة المرور</a></p>
                    <div class="bg-primary-btn w-100 mt-4 text-center">
                        الدخول
                    </div>
                    <p class="text-center mt-4"><span>لا تملك حساب؟</span><a href="" class="text-main text-decoration-none">طلب انضمام</a></p>
                </form>
            </div>
            <p class="text-start text-light fw-bold p-2">
                <img src="assets/images/back.svg" alt=""> رجوع</p>
        </div>
    </div>
    
</div>