

    <div class="manashet-card-container2">
         <div class="card-image-cont" [style.background-image]="'url(' + item.coverPath + ')'"></div>
         <div class="manashet-card-details">
            <div class="manashet-card-details-title-container">
                <div class="manashet-card-details-title truncate-4-lines">{{item.title}}</div>
                
            </div>
            <div class="manashet-card-details-program-details-words" [ngClass]="'isMoreReadEnabled'?'truncate-4-lines':''" [innerHTML]="item.description">
            </div>
            <a [href]="['kafaat/magazine/'+item.id]"  *ngIf="'isMoreReadEnabled'" class="manashet-card-details-more-link">عرض المزيد</a>
            <!-- <a routerLink="#" (click)="isMoreReadEnabled=!isMoreReadEnabled" *ngIf="!'isMoreReadEnabled'" class="manashet-card-details-more-link">عرض اقل</a> -->
         </div>
    </div>

