<div class="manashet-not-found">
    <div class="main-title">المناشط</div>
    <div *ngIf="hideTest"  class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="manashet-not-found-details">
                <div class="sub-title text-center">لا يوجد مناشط تم المشاركة فيها حتى الآن إبدأ بعرص المناشط والمشاركة فيها لتظهر هنا</div>
            </div>
            <div class="text-center">
                <button class="bg-primary-btn mt-2" (click)="hideTest=!hideTest">عرض المناشط</button>
            </div>
        </div>
        <div class="col-12 col-md-4"></div>
    </div>
</div>
<div *ngIf="!hideTest" class="manashet-items-category-container" >
    <div class="manashet-list-content">
        <a *ngFor="let nav of navList" (click)="selectItem(nav.id)" ngClass="{{nav.isSelected?'active-navigation-button':'inactive-navigation-button'}}">{{nav.label}}</a> 
    </div>
    <div *ngIf="navList[0].isSelected">
    <div *ngFor="let item of [1,2,3]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="warning-padge">سابق</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    <div *ngFor="let item of [1,2]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="success-padge">قادم</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    <div *ngFor="let item of [1]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="success-padge">قادم</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    <div *ngFor="let item of [1,2]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="primary-padge">جارى</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    <div *ngFor="let item of [1,2,3]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="warning-padge">سابق</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    </div>
    <!-- Next ------------------------------------->
    <div *ngIf="navList[1].isSelected">
    <div *ngFor="let item of [1,2,3]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="success-padge">قادم</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
</div>
    <!-- current------------------------------------------------------ -->
    <div *ngIf="navList[2].isSelected">
    <div *ngFor="let item of [1,2]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="primary-padge">جارى</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    </div>

     <!-- pevious------------------------------------------------------ -->
     <div *ngIf="navList[3].isSelected">
     <div *ngFor="let item of [1,2]" class="manashet-element">
        <div class="image-details-container">
        <div class="element-image">
            <img src="/assets/images/people.jpg" alt="">
        </div>
        <div class="element-details">
            <div class="program-name">برنامج ماهر</div>
            <div class="main-title">مهارات الوورد</div>
            <span class="warning-padge">سابق</span>
            <div class="sub-title mt-2 ">
                <div>
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في 
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفسي 
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
    </div>

</div>
