<app-navbar typeNav="dark"></app-navbar>
<app-page-header-labeled Header="تواصل معنا" Label="نسعد بتواصلكم. الدائم مع مؤسسة كفاءات"></app-page-header-labeled>
<app-bread-crumb></app-bread-crumb>
<div style="height: 30px;"></div>
<div class="page-padding">
    <div class="contact-us-container">
        <div class="row">
            <div class="col-12 col-md-5 p-0">
                <div class="contact-information-container">
                    <div class="contact-information-title">معلومات التواصل</div>
                    <div class="contact-information-item">
                        <img src="/assets/images/envelope-light.svg" alt="">
                        <span>kfaat@gmail.com</span>
                    </div>
                    <div class="contact-information-item">
                        <img src="/assets/images/phone-light.svg" alt="">
                        <span>+966-550166400</span>
                    </div>
                    <div class="contact-information-item">
                        <img src="/assets/images/map-pin-light.svg" alt="">
                        <span>شارع خالد بن الوليد، حي الخالدية، الرياض</span>
                    </div>
                    <div class="divider"></div>
                    <div class="contact-information-title">تابعنا على</div>
                    <div class="social-icon-container">
                        <a routerLink="#"><img src='/assets/images/Snapchat-white.svg' class="social-icon"></a>
                        <a routerLink="#"><img src='/assets/images/telegram.svg' class="social-icon"></a>
                        <a routerLink="#"><img src='/assets/images/Twitter-light.svg' class="social-icon"></a>
                        <a routerLink="#"><img src='/assets/images/Instagram-light.svg' class="social-icon"></a>
                        <a routerLink="#"><img src='/assets/images/Youtube-light.svg' class="social-icon"></a>
                        <a routerLink="#"><img src='/assets/images/Facebook-light.svg' class="social-icon"></a>
                    </div>
    
                </div>
            </div>
            <div class="col-12 col-md-7 p-0">
                <div class="contact-information-fields">
                <div class="details-title">نسعد بتواصلكم معنا</div>
                <span class="under-line"></span>
                <div class="details-label">مؤسسة كفاءات الماجد ترحب بمقترحاتكم وآرائكم من خلال تعبئة هذا النموذج، سيصلكم الرد بعد الاطلاع على المكتوب ومعالجته</div>
                <div class="form-group input-container w-100 mt-4 ">
                    <input type="text" name="name" class="form-control input-container-icon person-icon" required="">
                    <label for="name">الاسم</label>
                </div>
                <div class="form-group input-container w-100 mt-4 ">
                    <input type="text" name="name" class="form-control input-container-icon email-icon" required="">
                    <label for="name"> البريد الإلكتروني</label>
                </div>
                <div class="form-group input-advanced input-container w-100 mt-4">
                    <textarea type="text" rows="4" name="name" class="form-control message-icon" required=""></textarea>
                    <label for="name">الرسالة</label>
                  </div>
                <button class="bg-primary-btn-block mt-5">إرسال</button>
            </div>
            </div>
        </div>
    </div>
</div>
