.registeration-container{
    background: linear-gradient(to right ,#A18131, #005183);
    min-height: calc(100vh);
}
.registeration{
    background-color: white;
    border-radius: 8px;
}
@media (767px <= width <= 3000px){
    .registeration-container{
        padding: 70px 20%;
    }   
    .registeration{
        padding: 30px 30px;
    }
}
@media (0px <= width <= 767px){
    .registeration-container{
        padding: 70px 10px;
    }
    .registeration{
        padding: 30px 10px;
    }
}
.password-container{
    position: relative;
}
.passwordImage{
position: absolute;
top: 15px;
left: 20px;
cursor: pointer;
}