<div class="video-player-container">
<div class="row">
    <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,0,01,1,2,3]" class="col-12 col-md-4">
        <div class="video-player-item-container">
            <div class="card-image" (click)="openModal()">
                <div class="card-displayed-image">
                    <!-- <img src="/assets/images/p3.png">
                    <div class="card-image"></div> -->
                </div>
                <div class="card-image-outline"></div>
                <div class="card-image-video-player"></div>
            </div>
            <div class="video-player-item-details">
                <div class="video-player-item-title truncate-1-lines">دورة كيف تختار كتاباً للقراءة</div>
                <div class="video-player-item-description truncate-2-lines">دورة للمرحلة المتوسطة والثانوية قدمها أ. عبدالرحمن بن محمد اليحيى  والثانوية قدمها أ. عبدالرحمن بن محمد اليحيى  والثانوية قدمها أ. عبدالرحمن بن محمد اليحيى  والثانوية قدمها أ. عبدالرحمن بن محمد اليحيى  الماجد</div>
            </div>
        </div>
    </div>
</div>
</div>


<app-dialog-video-image #dialog></app-dialog-video-image>