<div class="video-player-container">
<div class="row">
    <div *ngFor="let item of items" class="col-12 col-md-4">
        <div class="video-player-item-container">
            <div class="card-image" (click)="openModal()">
                <div class="card-displayed-image">
                    <!-- <img src="/assets/images/p3.png">
                    <div class="card-image"></div> -->
                </div>
                <div class="card-image-outline"></div>
                <div class="card-image-video-player"></div>
            </div>
            <div class="video-player-item-details">
                <div class="video-player-item-title truncate-1-lines">{{item.title}}</div>
                <div class="video-player-item-description truncate-2-lines">{{item.decription}}</div>
            </div>
        </div>
    </div>
</div>
</div>


<app-dialog-video-image #dialog></app-dialog-video-image>