/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'alex-400';
}
@font-face {
    font-family: 'alex-400';
    src: url('/assets/fonts/alexandria/Alexandria-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'alex-600';
    src: url('/assets/fonts/alexandria/Alexandria-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'alex-700';
    src: url('/assets/fonts/alexandria/Alexandria-Bold.ttf') format('truetype');
}
:root {
    --primary-color: #E6F1F9;
    --main-color: #005183;
    --neutral60-color: #9E9E9E;
    --neutral90-color: #424242;
    --Primary-focus-color: #B3CBDA;
    --neutral40-color: #E0E0E0;
    --neutral50-color: #C2C2C2;
    --neutral70-color: #757575;
    --neutral80-color: #616161;
    --neutral90-color: #424242;
    --Primary-Surface-color: #F7FBFE;
    --Primary-border-color: #E6F1F9;

    --dark-default-color:#010B38;

    --success-main-color: #008243;
    --success-border-color: #B3DAC7;
    --success-surface-color: #EBF5F0;
    --warning-hover-color: #D16603;
    --warning-border-color: #FFCA99;
    --warning-surface-color: #FFF2E7;
    --bg-outline-color: #d3d3d333;
  }
  .truncate-1-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .truncate-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .truncate-4-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .truncate-5-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .truncate-6-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }
  .truncate-7-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .truncate-10-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom , #005183,#A18131, #005183);
    border-radius: 6px;
    transition: all .5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom , #A18131,#005183,#A18131);
    cursor: pointer;
}
.bg-primary-opacity-btn{
    display: inline-block;
    padding: 14px 18px 14px 18px;
    border-radius: 8px;
    color: var(--main-color);
    background-color: var(--Primary-Surface-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    border: none;
}
.bg-primary-btn{
    display: inline-block;
    padding: 14px 18px 14px 18px;
    border-radius: 8px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    border: none;
}
.bg-primary-outline-btn{
  display: inline-block;
  padding: 14px 18px 14px 18px;
  border-radius: 8px;
  color: var(--main-color);
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--main-color);
}
.bg-primary-btn-block{
    display: inline-block;
    padding: 14px 18px 14px 18px;
    border-radius: 8px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}
.primary-padge,.success-padge,.warning-padge,.white-padge,.main-padge{
    size: 10px;
    display: inline-block;
    padding: 2px 12px 2px 12px;
    border-radius: 32px;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--Primary-focus-color);
    background-color: var(--Primary-Surface-color);
}
.success-padge{
    color: var(--success-main-color);
    border: 1px solid var(--success-border-color);
    background-color: var(--success-surface-color);
}
.warning-padge{
    color: var(--warning-hover-color);
    border: 1px solid var(--warning-border-color);
    background-color: var(--warning-surface-color);
}
.white-padge{
    color: var(--neutral90-color);
    border: 1px solid var(--Primary-border-color);
    background-color: white;
}
.main-padge{
    color: white;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.active-navigation-button,.inactive-navigation-button{
  cursor: pointer;
    text-decoration: none;
    size: 16px;
    font-weight: 600;
    display: inline-block;
    padding:  16px 24px;
    border-radius: 30px;
    color: white;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    margin-left: 15px;
    cursor: pointer;
}
.inactive-navigation-button{
    color: var(--neutral90-color);
    border: 1px solid var(--Primary-border-color);
    background-color: white;
}
.octagon-image-container{
    position: relative;
    width: calc(15.5vw);
    height: calc(20vw);
    border: 1px solid #005183;
}
.octagon-image{
    position: absolute;
    top: calc(.5vw);
    left:calc(.5vw);
    width: calc(14.5vw);
    height: calc(14.5vw);
    background-image: url('/assets/images/people.jpg');
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}
.octagon-image-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(15.5vw);
    height: calc(15.5vw);
    background-image: url('/assets/images/people.jpg');
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    opacity: 20%;
}
.octagon-image-title-and-padge{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}
.octagon-image-title{
    font-size: 16px;
    font-weight: 600;
    /* line-height: 24; */
    color: black;
}

.d-pointer{
    cursor: pointer;
}

/* -------------------------circle clipped top and in bottom-------------------------------- */
.image-container-circle{
    height: 230px;
    width: 345px;
    margin: 0px auto;
}
.circle-image-container{
    position: relative;
    /* width: 100%; */
    height: 230px;
    /* border: 1px solid #005183; */
}
.circle-image{
    position: absolute;
    top: 5px;
    left: 1%;
    width: calc(98%);
    height: 220px;
    background-image: url('/assets/images/people.jpg');
    clip-path: ellipse(39% 56% at 50% 50%);
    background-repeat: no-repeat;
    background-size: cover;
}
.circle-image-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 230px;
    background-image: url('/assets/images/people.jpg');
    clip-path: ellipse(39% 56% at 50% 50%);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
}

.text-main{
    color: var(--main-color) !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .small{
    color: #757575;
  }

  .truncate-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
  }
  .truncate-lines-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
  }

  .input-advanced {
    position: relative;
  }
  
  .input-advanced input,.input-advanced textarea {
    width: 100%;
    padding: 10px 0;    
  }
  .input-advanced label {
    position: absolute;
    top:0;
    right: 0;
    padding:10px 10px;
    color: black;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-advanced input:focus ~ label,
  .input-advanced input:valid ~ label ,.input-advanced textarea:focus ~ label,
  .input-advanced textarea:valid ~ label{
    top: -10px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
@media (766px <= width <=5000px){
    .circle-image-container{
        width: 100%;
    }
    .page-padding{
        margin: 0px 124px;
        padding: 0px 0px;
    }
}   
@media (0px <= width <=766px){
    .circle-image-container{
        width: 100%;
    }
    .page-padding{
        margin: 0px 20px;
        padding: 0px 0px;
    }
}
.under-line{
    display: inline-block;
    width: 64px;
    height: 3px;
    background-color: var(--main-color);
}


  /* -------------------input with icon and you can change the icon in the css component -------------------------------- */
  .input-container {
    position: relative;
    outline: none;
    box-shadow: none;   
    border: none;
    /* border: 1px solid var(--neutral90-color); */
  }
  
  .input-container input,.input-container textarea {
    width: 100%;
    padding: 20px 30px 10px 0px;    
  }
  .input-container label {
    position: absolute;
    top:0;
    right: 8px;
    padding:10px 25px;
    color: var(--neutral90-color);
    pointer-events: none;
    transition: .5s;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .input-container input:focus ~ label,
  .input-container input:valid ~ label ,.input-container textarea:focus ~ label,
  .input-container textarea:valid ~ label{
    top: -10px;
    left: 0;
    color: var(--neutral90-color);
    font-size: 10px;
    outline: none;
    box-shadow: none;
  }
  
  .input-container-icon {
      background-position: 99%;
      background-repeat: no-repeat;
      padding-right: 40px;
      outline: none;
      box-shadow: none;     
       border: 1px solid var(--neutral90-color);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



  /* ==================================input text, radio , date and checkbox========================================================================================= */
  input[type=radio].defaultRadioButton {
    border: none;
    -webkit-appearance: none;
    background: url('/assets/images/radio-inactive.svg') no-repeat center center;
    background-size: 25px;
    border-radius: 0;
    width: 20px;
    height: 20px;
  }
  
  
  input[type=radio].defaultRadioButton:checked {
    background: url('/assets/images/radio-active.png') no-repeat center center;
    background-size: 25px;
    border: none;
    border-radius: 0;
    width: 20px;
    height: 20px;
  }
  
  
  input[type=radio].defaultRadioButton:focus {
    outline-color: transparent;
    border-radius: 0;
  }
  
  input[type=checkbox].SquarecheckboxButton,input[type=checkbox].Square_Sign_checkboxButton {
    padding: 0.5em;
    -webkit-appearance: none;
    background: url('/assets/images/rect.svg') no-repeat center center;
    background-size: 30px;
    border: none;
    border-radius: 3px;
    width: 20px;
    height: 20px;
  }
  input[type=checkbox].Square_Sign_checkboxButton:checked{
    background-image: url('/assets/images/checkedWithSign.svg');
    background-size: 15px;
    border: 1px solid lightskyblue;
    border-radius: 3px;
    width: 20px;
    height: 20px;
  }
  input[type=checkbox].SquarecheckboxButton:focus {
    outline-color: transparent;
    border-radius: 0;
  }
  
/* 
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;

  }
 */

/* .custom-date-input::-webkit-calendar-picker-indicator {
  background-image: url('/assets/images/calender-grey.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px; 
  height: 16px; 
  opacity: 1; 
} */

.date-icon{
  background: url('/assets/images/calender-grey.svg') no-repeat;
  background-position: 10px 20px;
}
input[type="date"].defaultDateInput::-webkit-calendar-picker-indicator {
  background: url('/assets/images/calender-grey.svg') no-repeat;
  background-position: 0px 0px;
  background-size: 25px;
  padding: 5px;
  display: inline-block;
  /* text-align: right;
  direction: rtl; */
}
/* .defaultDateInput::-webkit-datetime-edit-text {
  text-align: right;
  direction: ltr;
  unicode-bidi: isolate;
  vertical-align: bottom;
} */
  /* ==================================input text, radio , date and checkbox========================================================================================= */
