<div class="Musharkat-container">
    <div class="main-title">الإنجازات</div>
    <div class="musharakat-list-content">
        <a *ngFor="let nav of navList" (click)="selectItem(nav.id)" ngClass="{{nav.isSelected?'active-navigation-button':'inactive-navigation-button'}}">
            <img *ngIf="nav.label=='المزيد'" class="me-1" src="/assets/images/list.svg" alt="">
            {{nav.label}}
        </a> 
    </div>
    <div class="card-items-container">
        <div class="row">
            <div *ngFor="let item of [1,2,3,5,6,7]" class="col-md-6">
                <div class="card-item">
                    <img src="/assets/images/Badge.svg" width="100%" height="200px" alt="">
                    <div class="divider"></div>
                    <div class="p-3">
                        <div class="program-name">برنامج قارئ</div>
                        <div class="main-title">كيف تختار كتاباً للقراءة</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>