<app-navbar typeNav="dark" [active]=1></app-navbar>
<app-page-header-labeled Header="المشاركات" Label="جميع مشاركات الأعضاء في مختلف المناشط"></app-page-header-labeled>
    <app-bread-crumb></app-bread-crumb>
<div class="page-padding mt-4">
    <div class="card shadow-X-Large">
        <app-scroll-nav></app-scroll-nav>
    <div class="card-body">
        <!-- <div class="container mx-auto">
            <div>
                 <img src="assets/images/img-post.png" alt="person">
                 <span class="text-main">عبدالإله حمد عبدالله الماجد</span>
            </div>
            <div class="d-flex">
                <span class="text-main">برنامج كاتب</span>
                <hr class="vertical-line" >
                <span class="text-main">كيف تختار كتابا للقراءة</span>
            </div>
    
            <div class="mt-4">
                <p>هل تبادلنا العطاء؟</p>
                <p class="small">كل طفل من أطفالنا بحاجة إلى ولي حريص يكتشف مواهبه وينمي قدراته ، وكل فتى وفتاة من فتياننا وفتياتنا بحاجة للتوجيه والنصح والدعم ، وكل شابةٍ وشابٍ بيننا بحاجة لتطوير المهارات وتبني الأفكار ، وكل شيخٍ بيننا بحاجة للترابط الأسري والتواصل الاجتماعي .. وجميعهم يسعى للبحث عن هذه الحوائج سواءً من الأهل أو جماعة ... <span class="d-pointer text-main">المزيد</span></p>
            </div>
        </div>   -->
    
        <div class="row" >
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/post1.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4" >
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/post1.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4" >
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/img-post2.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-medium border">
                    <div class="card-body p-0 m-0">
                        <img src="assets/images/post1.png" width="100%" alt="">
                        <p class="text-center pt-3">محمد بن فهد بن محمد العبدالله</p>
                        <p class="truncate-lines-2 small px-2">من مشاركات أعضاء نادي القراءة للمرحلة الابتدائية (قراءة كتاب أيتام لكن عظماء واستخراج فوائد منه)</p>
                        <span class="text-main float-start p-4 d-pointer">عرض المزيد</span>
                    </div>
                </div>
            </div>
        </div>
        
        <app-paginations></app-paginations>
    </div>
    </div>
</div>
<div class="divider-section"></div>