<div class="home">
    <div class="navbar-container">
        <div class="navbar-element-container">
            <app-navbar typeNav="light" [active]=0 (handleOpenNav)="openOrClosNav($event)"></app-navbar>
            <!-- <div id="navbar" class="bg-light w-100 top-0 position-fixed">
                <app-navbar typeNav="dark" (handleOpenNav)="openOrClosNav($event)"></app-navbar>
            </div> -->
        </div>
        <div class="navbar-image"></div>
        <div class="navbar-image-opacity"></div>
        <div class="discover-image">
            <button class="bg-primary-opacity-btn">اكتشف البرامج</button>
        </div>
    </div>
    <!-- because mahmoud abd magisss -->
    <div style="margin-top: 150px;"></div>
    <div>
        <app-carousal-home [slides]="slides"></app-carousal-home>
    </div>
    <app-layout-section [componentToDisplay]="1" title="ماهي كفاءات ؟"></app-layout-section>
    <app-layout-section [componentToDisplay]="2" title="أبرز المناشط"></app-layout-section>
    <app-layout-section [componentToDisplay]="3" title="أبرز المشاركات"></app-layout-section>
    <!-- <app-item-carousal-angle imgPath="assets/images/what-kafaat.png"></app-item-carousal-angle> -->
    <!-- <app-posts-carousal-home></app-posts-carousal-home> -->
    <app-discover-programs></app-discover-programs>
    <app-layout-section [componentToDisplay]="4" title="متميزوا الشهر" header='b'></app-layout-section>
    <app-layout-section [componentToDisplay]="5" title="تواصل معنا"></app-layout-section>
    <!-- <app-form-contact></app-form-contact> -->
    <!-- <app-month-faamous></app-month-faamous> -->
    <div class="overlay" *ngIf="showOverlay"></div>
    <a href="#" class="position-fixed bottom-0"><img src="assets/images/Whatsapp.svg" alt=""></a>
    <!-- <app-tabs-container></app-tabs-container> -->
</div>
<app-scroll-nav></app-scroll-nav>