<div class="home">
    <div class="navbar-container">
        <div class="navbar-element-container">
            <app-navbar typeNav="light" [active]=0 (handleOpenNav)="openOrClosNav($event)"></app-navbar>
         
            <div class="row">
                <div class="col-12 col-md-4 icons-rigt text-center d-none d-md-block">
                        <img src="assets/images/slide6.svg" alt="" class="top-anim">
                        <img src="assets/images/slide5.svg" alt="" class="top-30">
                        <img src="assets/images/slide4.svg" alt="" class="top-anim">
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center mb-4 py-4">
                    <img src="assets/images/kafaat-logo-light.svg" alt="">
                    <!-- <video src="assets/videos/video.mp4" width="70%" height="100%" autoplay=true></video> -->
               
                </div>
                <div class="col-8 mx-auto col-md-4 icons-left">
                    <img src="assets/images/slide1.svg" alt="" class="top-anim">
                    <img src="assets/images/slide2.svg" alt="" class="top-30">
                    <img src="assets/images/slide3.svg" alt="" class="top-anim">
                </div>
            </div>
         
        </div>

        
           <div class="navbar-image"></div>

        <div class="navbar-image-opacity"></div>
        <div class="discover-image">
            
           
            <button class="bg-primary-opacity-btn mt-4" style="top: 60%;">اكتشف البرامج</button>
           
        </div> 
        
    </div>
    <!-- because mahmoud abd magisss -->
    <div style="margin-top: 150px;"></div>
    <div>
        <app-carousal-home [slides]="slides"></app-carousal-home>
    </div>
    <app-layout-section [componentToDisplay]="1" title="ماهي كفاءات ؟"></app-layout-section>
    <app-layout-section [componentToDisplay]="2" title="أبرز المناشط"></app-layout-section>
    <app-layout-section [componentToDisplay]="3" title="أبرز المشاركات"></app-layout-section>
    <!-- < imgPath="assets/images/what-kafaat.png"></app-item-carousal-angle> -->
    <!-- <app-posts-carousal-home></app-posts-carousal-home> -->
    <!-- <app-tabs-container ></app-tabs-container> -->
    <app-discover-programs></app-discover-programs>
    <app-layout-section [componentToDisplay]="4" title="متميزوا الشهر" header='b'></app-layout-section>
    <app-layout-section [componentToDisplay]="5" title="تواصل معنا"></app-layout-section>
    <!-- <app-form-contact></app-form-contact> -->
    <!-- <app-month-faamous></app-month-faamous> -->
    <div class="overlay" *ngIf="showOverlay"></div>
    <a href="#" class="position-fixed bottom-0"><img src="assets/images/Whatsapp.svg" alt=""></a>
    <!-- <app-tabs-container></app-tabs-container> -->
</div>
<div class="divider-section"></div>
<!-- <app-scroll-nav></app-scroll-nav> -->