<!-- <div>
    <div class="navbar-container">
        <div class="navbar-element-container">
           <app-navbar typeNav="light" (handleOpenNav)="openOrClosNav($event)"></app-navbar>
        </div>
        <div class="navbar-image">
        </div>
    </div>
    <div class="overlay" *ngIf="showOverlay"></div>
  
</div> -->
<!-- <app-carousal-home [slides]="slides"></app-carousal-home> -->
<app-layout-section [componentToDisplay]="component"></app-layout-section>
<!-- <app-item-carousal-angle imgPath="assets/images/what-kafaat.png"></app-item-carousal-angle> -->