<div class="report-details">
    يواجه أبناؤنا بعض الحيرة أثناء التجول في المكتبات لاختيار كتابٍ مناسبٍ للقراءة، ويأتي هذا التردد نتيجةً لقلة الخبرة في هذا الجانب، حيث إن مهمة اختيار الكتاب تتناسب تناسبًا عكسيًّا مع خبرة القارئ، ولأجل التسهيل على أبنائنا ممن هم في المراحل الابتدائية العليا والمرحلة المتوسطة؛ أقامت كفاءات دورة بعنوان: (كيف تختار كتابًا للقراءة؟) قدمها ابن العم الأستاذ عبد الرحمن الماجد، يوم الأربعاء 20 ربيع الأول 1442هـ الموافق 7 أكتوبر 2020، أونلاين عبر تطبيق "زوم"، والتي عالج فيها هذه الحيرة بأسلوب سهلٍ رشيقٍ مدعمًا بالأمثلة العملية الواقعة.
وقد استهل الأستاذ محاضرته بأنها على وجازتها إجابةٌ للسؤال المهم جدًا: (ماذا أقرأ؟)؛ فعَرَّج أولًا على فائدة اختيار الكتاب المناسب من ناحية المادة العلمية، ثم تعرض إلى إجمالها في عددٍ من الفوائد:
منها: أنه يغنيك عن قراءة غيره، وهذا خصوصًا لغير المتخصص.
<br>
ومنها: أن الكتاب عمومًا يؤثر على حياة القارئ سلبًا أو إيجابًا، وهي قاعدةٌ عامةٌ، ذكر المحاضر -وفقه الله- أمثلةً لها في نماذج عملية واقعية، وكلها نتيجة الاختيار للكتاب غير المناسب، فليس كل كتابٍ يحوي صحيح المعلومة وصحيح المنهج.
ومنها: أنه كلما بذلت المجهود في البحث عن الكتاب المناسب، كلما زادت فائدته ونفعك منه؛ وهي قاعدة مجربة، في أمثلة حية من واقع حياة الناس؛ ذكرها الأستاذ للتدليل على تلك القاعدة.
ثم انتقل الأستاذ إلى صلب الموضوع، وفي ذلك أجاب على السؤال: هل تريد كتابًا في مجالٍ معينٍ؟ أم لمجرد القراءة والترف العلمي؟ وأوضح أن القراء لا يخرجون عن هذين الصنفين.
ثم انتقل منه إلى أصحاب المجال المعين، في مجالات التاريخ واللغة والسيرة وغيرها، وهذا ذكر له الأستاذ طريقتين لاختيار الكتاب المناسب:
الطريقة الأولى، وهي معروفة ومجربة: سؤال الخبير، فما من مجتمعٍ لا يخلو من خبراء في القراءة وأصحاب التخصص كلٌّ في تخصصه، وأسهب -حفظه الله- في ضوابط هذه المسألة.
الطريقة الثانية، وهي أصعب قليلًا: البحث الذاتي الشخصي. وذكر أمثلةً لها وفوائدها، وأجمل ذلك: أنه كلما عالجت هذه الطريقة أكثر كلما زادت فائدتك أكثر.
ثم انتقل الأستاذ مسرعًا إلى الحالة الثانية: أصحاب القراءة للترف العلمي، وذكر الأستاذ له بعض الطرق تفيده في اختيار الكتاب، منها:
الطريقة الأولى: التركيز على ما لا يسع المثقف جهله، خاصة ما يختص بأمور دينه وهويته وحضارته وتاريخ أمته، وأوصى الأستاذ هذا القارئ بالقراءة في (الكتب الشرعية، والتاريخ الإسلامي، الأدب والأخلاق العامة). وهي طريقة ممتعة شيقة.
ثم انتقل الأستاذ للطريقة الثانية: الفوضوية؛ العشوائية، وهو أن يقرأ كُتبًا كيفما اتفق، وذكر الأستاذ بعضًا من إيجابياتها، وعرض على الأهم من ذلك وهو سلبياتها؛ ومنها: أنها تخلط بين الطيب والرديء والغث والسمين الحق والباطل. ومنها: أنها لا تعطي كبير فائدة في بناء الثقافة العامة الجيدة للقارئ.
<br> ولابد لضبط هذه الطريقة من شرطين:
<br>
الأول: أن تكون فوضوية محدودة (نظيفة).
<br>
الثاني: ألا تطول الفوضوية (مرحلة بداية القراءة)؛ إلى أن تصل لمنهجٍ واضحٍ.
<br>
ثم انتقل الأستاذ إلى التطبيق العملي لضبط هذه الطريقة محققًا تلكما الشرطين في أمثلة عملية لبعض الكُتاب المعروفين، مع ملاحظة: أن الوصية بالكَاتب أو الكتاب لا تُعطي له العصمة لا للكاتب ولا الكتاب.
ومر بنا إلى الطريقة الثالثة، وهي: متابعة التوصيات وتجارب القراء.
<br>
وأبان الأستاذ عن هذه الطريقة، وسبلها، وذَكَر أمثلةً لبعض الأشخاص والكتب والمُعَرِّفات والقنوات المُوْصَى بها في هذه الطريقة، ورشح لنا في ذلك كتاب «أهم 100 كتاب أسري».
ثم ختم الأستاذ بوصيةٍ نافعةٍ وطريقةٍ مجربةٍ: وهي أن تصنع من الآن قائمتك الشخصية؛ تدونها عبر خبراتك وسؤالات وتجاربك، وتعالجها عبر الأيام والسنين؛ تزيد وتحذف، تضيف وتعدل؛ حتى تنتهي إلى اختياراتك الشخصية.
ويكفي في فائدة هذه الطريقة: معرفة اسم الكتاب، وموضوعة، ولو لم يتسير لك قراءته.
بلغ عدد المشاركين في هذه الدورة أكثر 25 شخصا.
معـــرض الصور
</div>