.details-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--neutral90-color);
    margin-bottom: 15px;
}
.person-icon{
    background-image: url('/assets/images/user.svg');
}

.email-icon{
    background-image: url('/assets/images/email.svg');
}

.phone-icon{
    background-image: url('/assets/images/call.svg');
}
.password-icon{
    background-image: url('/assets/images/lock.svg');
}

.divider{
    height: 1px;
    background-color: var(--Primary-border-color);
    margin: 50px 0px 20px 0px;
}
.sub-title{
    font-size: 14px;
    color: var(--neutral90-color);
    line-height: 22px;
    font-weight: 400;
    display: inline-block;
}